
div.user_picture {

	float: left;
	width: 40px;
	height: 40px;
	border: 1px solid #BBB;
	text-align: center;
	margin-right: 0.4em;

}


div.user_picture img {
	height: 40px;
}


div.user_info_box {

	border-bottom: 1px solid #AAA;
	margin-bottom: 1em;

	padding: 4px;

}


div.user_signature {

	font-size: 0.8em;
	color: #555;
	padding: 0.2em;
	margin-left: 50px;

}

