/* CSS per le caratteristiche perincipali del layout del sito*******/
/*blocchi principali di intestazione e di pagina********************/
/*definizioni generali*/


/*Blocco principale**************************************************/

.admin_principalbox {
	margin:0;
	padding: 0;
	clear: both;
	font-size: 0.80em;
}

/*Blocco a 25% *****************************************************/

.admin_contentBox25 {
	float: left;
	width: 24%;
	padding: 0;
	margin: 1px;
	margin-left: 0.8em;

	background: #ffffff;
	border: 1px dashed #000088;
}

.admin_contentBox25right {
	float: left;
	width: 24%;
	padding: 0;
	margin: 1px;

	background: #ffffff;
	border: 1px dashed #000088;
}

/*Blocco a 33% *****************************************************/

.admin_contentBox33 {
	float: left;
	width: 31%;
	padding: 0;
	margin: 1px;

	background: #ffffff;
	border: 1px dashed #000088;
}

.admin_contentBox33right {
	float: right;
	width: 31%;
	padding: 0;
	margin: 1px;

	background: #ffffff;
	border: 1px dashed #000088;
}

/*Blocco a 50% *****************************************************/

.admin_contentBox50 {
	float: left;
	width: 48.9%; /*this isn't 50 because for ie 50 + 50 = 101*/
	padding: 0;
	margin: 1px;

	background: #ffffff;
	border: 1px dashed #000088;
}

/*Blocco a 66% *****************************************************/

.admin_contentBox66 {
	float: left;
	width: 65.9%;
	padding: 0;
	margin: 1px;

	background: #ffffff;
	border: 1px dashed #000088;
}

.admin_contentBox66right {
	float: right;
	width: 65.9%;
	padding: 0;
	margin: 1px;

	background: #ffffff;
	border: 1px dashed #000088;
}

/*Blocco a 75% *****************************************************/

.admin_contentBox75 {
	float: left;
	width: 73%;
	padding: 0;
	margin: 1px;

	background: #ffffff;
	border: 1px dashed #000088;
}

/*Blocco a 100% ****************************************************/

.admin_contentBox100 {
	float: left;
	width: 98%;
	padding: 0;
	margin: 1px;

	background: #ffffff;
	border: 1px dashed #000088;
}

.addBlock {
	padding: 0.20em;
	margin: 0.40em;
	background: #ccc;
	border: 1px solid #224;
}


.modBlock {
	padding: 0.20em;
	margin: 0.40em;
	text-align: right;
	background: #eee;
	border: 1px solid #88a;
}

a.selmodule {
	text-decoration: underline;
	color: #033;
}

input.textModSubmit {
	background-image: url("../images/standard/mod.gif");
	background-repeat: no-repeat;
	background-color: transparent;

	overflow: hidden;
	border-style:none;
	border-width: 0px;
	padding: 0px;
	margin: 0px;
	width: 22px;
	height: 22px;
}


td.spaceright {
	padding-right: 60px;
	vertical-align: top;
}

td.hvcenter {
	padding-bottom: 6px;
	text-align: center;
	vertical-align: bottom;
}

img.fakebtn {
    border: 0px none;
    width: 22px;
    height: 22px;
}


/* XXX: manage option***********************************************/

.optionTitle {
   font-weight: bold;
}

.optionTitle2 {
   margin: 0.20em 0.00em;
   padding: 0.20em 0.20em;
   color: #000;
   font-weight: bold;
   background: #cdf;
}

.option_server_line {
   margin: 0.60em 0.00em;
   clear: left;
}

   .option_server_line span.option_server_tit {
       margin: 0.00em 0.60em 0.00em 0.00em;
       width: 50%;
       color: #000;
       font-weight: bold;
       float: left;
       text-align: left;
       border-bottom: 1px solid #89f;
   }

.line_tit {
   margin: 0.20em 0.00em;
   padding: 0.20em 0.20em;
   color: #000;
   font-weight: bold;
   background: #cdf;
}

div.optionOk {
   margin: 0.80em 0.00em;
   padding: 0.20em;
   font-weight: bold;
   text-align: center;
}

div.optionOk span {
   background: #fd4;
   padding: 0.00em 2.00em;
}

.optionBlock {
   margin: 0.10em 0.00em;
   padding: 0.00em 0.00em 1px 0.00em;
   background: #ccc;
   border: 1px solid #000;
}

   .optionBlock a {
       display: block;
       margin: 0.00em 0.00em;
       padding: 0.10em 0.50em;
       text-decoration: none;
       vertical-align: bottom;
   }
      .optionBlock a:hover {
       background: #fff;
   }
      .optionBlock a.select {
       background: #fff;
   }




/* XXX: forum =====================================================*/

.forum_table {
	margin: 0.40em 0 2.00em 0;
	padding: 0;
	border-spacing: 0;
	width: 100%;
	border-bottom: 1px solid #000;
}

	.forum_table tr.forum_header th {
		padding: 0.20em 0.40em;
		text-align: left;
		font-weight: normal;
		background: #abf;
	}

	.forum_table .forum_title {
		font-size: 1.40em;
	}

		.forum_table .forum_title a {
			color: #000;
		}

		.forum_table .forum_title a:hover {
			color: #000;
		}

	.forum_table td {
		vertical-align: top;
	}

	.forum_notread {
		color: #225588;
		font-size: 0.90em;
		font-weight: bold;
	}

	.forum_table .image {
		text-align: center;
		vertical-align: middle;
		width: 1%;
	}

	.forum_table .forum_lastpost {
		font-size: 0.80em;
		font-style: italic;
	}

	.forum_table .forum_manag {
		text-align: right;
		padding: 0.20em 0 0 0;
	}

	.forum_action_top {
		margin: 0.80em 0 0.80em 0;
		padding: 0.20em;
		text-align: left;
		background: #cdf;
		border: 1px solid #225588;
	}


	.forum_action_bottom {
		margin: 0.80em 0 0.80em 0;
		padding: 0.20em;
		text-align: right;
		background: #cdf;
		border: 1px solid #225588;
	}

	.mess_author {
		font-weight: bold;
	}

	.forum_sender {
		width: 20%;
		vertical-align: top;
	}

	.forum_text {
		width: auto;
		vertical-align: top;
	}

	div.forum_author {
		font-weight: bold;
		font-size: 1.20em;
		margin: 0.40em 0.6em 0.20em;
	}

	div.forum_level {
		margin: 0 1.6em;
	}

	img.forum_avatar {
		margin: 0.6em 0.6em;
		max-width: 100px;
		max-height: 100px;
	}

	div.forum_numpost {
		margin: 0 0.6em;
	}


	/* XXX: forum post */

	.forum_post_posted {
		font-size: 0.80em;
		margin: 0.40em 2em 0.60em;
	}

	.forum_post_locked {
		font-size: 1.20em;
		color: #ff0000;
		margin: 1em;
	}

	.forum_post_title {
		font-size: 1.20em;
		font-weight: bold;
	}

	.forum_post_attach {
		text-align: right;
	}

	.forum_post_text {
		margin: 1.00em 0.60em 0.60em 0.60em;
	}

	.forum_post_modified_by {
		font-weight: bold;
		margin: 1.4em 0em 0.20em 0.2em;
	}

	.forum_post_sign_separator {
		border-top: 1px solid #000;
		width: 40%;
		margin: 2em 0 0.60em 0;
	}

	.forum_post_sign {
		margin: 0.40em 0.40em 0.60em 0.60em;
	}

	.forum_action {
		text-align: right;
	}

	.forum_action a {
		margin: 0 0.2em 0 0.4em;
	}

	.forum_quote {
		background: #ddd;
		border: 1px solid #666;
		padding: 0.40em;
		margin: 0.20em;
	}

	.search_mask {
		text-align: right;
		margin: 0.20em 3em 2em 1em;
	}
