

/* XXX: theacher profile ****************************************************/

.teacher_profile_container {
	margin: 0px 2px 0;
	padding: 0;
	float: right;
}

	.teacher_profile_container img {
		margin: 0 0 0;
		padding: 1px;
		background: #fff;
		border: 1px solid #c0aa95;
	}
	
	.teacher_profile_container img.image_limit {
		width: 150px;
	}
	
