.titleBlock {
	margin-bottom: 0.50em;
	font-size: 1.20em;
	font-weight: bold;
	color: #1a9740;
}

fieldset.default {
	border: 0px none;
}

/*navigator--------------------------------------------------------*/

.high_line {
	margin: 0;
	padding: 0.20em;
	background: #69c071;
	border-left: 1px dotted #666;
	border-right: 1px dotted #666;
}

.quick_links_box {
	padding: 0px;
	padding-right: 10px;
	float: right;
}

.langBox {
	background: transparent;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
	float: right;
	margin: 0;
	margin-bottom: 1px;
}

	.langBox img {
		margin: 0;
		padding: 1px;
		margin-left: 0.2em;
		margin-right: 0.2em;
		border: 1px solid #AAA;
	}

.navigatorBox {

		margin-top: 0em;
		margin-bottom: 0.6em;
		padding: 0.1em;
		padding-left: 0.4em;
		background: #fff;
		float: left;
		color: #8494ad;

		border-bottom: 1px solid #d5dde8;
}

	.navigatorBox a {
		text-decoration : none;
		font-size: 0.9em;
		color: #000;
		font-weight: normal;
		padding-left: 0.2em;
		padding-right: 0.2em;
	}

	.navigatorBox a:hover {
		text-decoration : underline;
	}

	.navigatorBox a.selected {
		padding-top: 0.3em;
		padding-left: 0.8em;
		padding-right: 0.8em;
		color: #000088;
	}

.centerImage {
	text-align: center;
}

/*Blocco principale**************************************************/

.principalBox {
	margin: 0;
	padding: 0px;
}

/*Blocco a 25% *****************************************************/

.contentBox25 {
	float: left;
	width: 24.0%;
	padding: 0;
	margin: 0;
	border-left: 0px none;
	border-right: 0px none;
}

.contentBox25right {
	float: right;
	width: 23.9%;
	padding: 0;
	margin: 0;
	height: 100%;
	border-left: 0px none;
	border-right: 0px none;
}

/*Blocco a 33% *****************************************************/

.contentBox33 {
	float: left;
	width: 32.5%;
	padding: 0;
	margin: 0;
	border-left: 0px none;
	border-right: 0px none;
	clear: both;
}

.contentBox33right {
	float: right;
	width: 31.9%;
	padding: 0;
	margin: 0;
	border-left: 0px none;
	border-right: 0px none;
	clear: right;
}

/*Blocco a 50% *****************************************************/

.contentBox50 {
	float: left;
	width: 50%;
	padding: 0;
	margin: 0;
}

/*Blocco a 66% *****************************************************/

.contentBox66 {
	float: left;
	width: 66%;
	padding: 0;
	margin: 0;
	clear: left;
}

.contentBox66right {
	float: right;
	width: 66%;
	padding: 0;
	margin: 0;
	clear: right;
}

/*Blocco a 75% *****************************************************/

.contentBox75 {
	float: left;
	width: 75%;
	padding: 0;
	margin: 0;
}

/*Blocco a 100% ****************************************************/

.contentBox100 {
	float: left;
	width: 100%;
	padding: 0;
	margin: 0;
}

/*Block*/

.contentblock_1 {
	padding: 0.10em;
	background: #fff;
	margin-right: 0.6em;
}

	.contentblock_1 .titleBlock {
		color: #ee863d;

		font-size: 1.4em;
		font-weight: bold;
		/* background-image: url( '../images/block/arrow_big.gif' ); */
		background-color: transparent;
		background-repeat: no-repeat;
		/* border-bottom: 1px dashed #CCC; */
	}

	.contentblock_1 .body_block {
		/* color: #8492ad; */
		color: #5d677a;
	}


.contentblock_2 {
	padding: 0.20em 0 0.20em 0.20em;
	margin: 0;
	background: #c8d8f1;
	border-top: 2px solid #8c8b90;
	border-bottom: 2px solid #8c8b90;
	margin-bottom: 1.2em;
	margin-right: 0.6em;
}

	.contentblock_2 .titleBlock {
		color: #5c5d66;
		font-weight: bold;
	}

	.contentblock_2 .body_block {
		margin: 0.50em 0;
		padding: 0.50em;
		color: #5c5d66;
	}

.contentblock_3 { /* Menu */
	background: #FFF;
	margin: 0px;
	padding: 2px;
	padding-bottom: 1px;
}


.contentblock_4 { /* Login */
	color: #000;
}


.contentblock_5 {
	padding: 0.20em;
	margin: 0.40em;
	background: #F0E0F0;
	border: 1px solid #AAAA00;
}

	.contentblock_5 a.voicemenu, .contentblock_5 a.voicemenu:visited {
		color: #0000FF;
	}

	.contentblock_5 a.voicemenu:hover {
		background: #FFFFFF;
	}

.contentblock_6 {
	padding: 0.20em;
	margin: 0.40em;
	background: #FFFFFF;
	border: 1px solid #AA0000;
}

.contentblock_7 {
	padding: 0.20em;
	margin: 0.40em;
	background: #FFFFFF;
	border: 1px solid #AAAA00;
}

.contentblock_8 {
	padding: 0.20em;
	margin: 0.40em;
	background: #fee;
	border: 2px dotted #AA0000;
}

.contentblock_9 {
	padding: 0.00em;
	margin: 0.00em;
	background: #fff;
}

.contentblock_10 {
	padding: 0.00em;
	margin: 0.00em;
	background: #fff;
}


/*******************************************************************/

/* .cms_form_back {
	padding: 0.8em;
	background: url( '../images/block/gray_gird.gif' );
	margin-bottom: 1.2em;
} */

.cms_form_desc {
	padding-left: 1.6em;
	padding-right: 1.6em;
}

.cms_form_box {
	padding: 0.4em;
	background: #FFFFFF;
	clear: left;
	display: block;
	margin: 0.3em;
}

.cms_form_box .form_elem {
	background: #FFFFFF;
}

.cms_form_box .form_line_l {
	padding: 0px;
	padding-top: 4px;
	padding-left: 1px;
	padding-bottom: 6px;
	margin: 3px;
	background: #c8d8f1;
	min-height: 16px;
	/* background: #d2d2d2 url( '../images/block/form_line_back.jpg' ) repeat-y; */
}

.cms_form_box .form_line_l label {
	padding-top: 1px;
	padding-left: 2px;
}

.cms_form_box .button {
	border: 1px solid #46566f;
	background: #c3d3ec;
}

.cms_form_box .button:hover {
	border: 1px solid #7da6da;
	background: #e5eeff;
}


/*Profile******************************************************/

/* .profile_form_back {
	padding: 0.8em;
	background: url( '../images/block/gray_gird.gif' );
	margin-bottom: 1.2em;
} */

.profile_form_box {
	padding: 0.4em;
	background: #FFFFFF;
	clear: left;
	display: block;
	margin: 0.3em;
}

.profile_form_box .form_elem {
	background: #FFFFFF;
}

.profile_form_box .form_line_l {
	padding: 0px;
	padding-top: 4px;
	padding-left: 1px;
	padding-bottom: 6px;
	min-height: 18px;
	margin: 3px;
	background: #c8d8f1;
}

.profile_form_box .label_effect {
	padding-top: 1px;
	padding-left: 2px;
}

.profile_form_box .form_line_l label {
	padding-top: 1px;
	padding-left: 2px;
}

.profile_form_box .form_line_l .label_bold {
	padding-left: 0.4em;
	padding-right: 0.4em;
}


.profile_form_box .button, .profile_form_box .reg_button {
	border: 1px solid #46566f;
	background: #c3d3ec;
}

.profile_form_box .button:hover, .profile_form_box .reg_button:hover {
	border: 1px solid #7da6da;
	background: #e5eeff;
}

/*Blocco login******************************************************/

.form_login_ext {
	padding: 0;
}

.form_login {
	margin: 0;
}

.form_login, .login_frame {
	border: 1px solid #7a8aa3;
	background: #ebeef2;
	padding: 0.2em;
}

	fieldset.fieldset_login {
		border: 0px none;
		margin: 0;
		padding: 0.40em 0 0 0.20em;
	}

		fieldset.fieldset_login legend {
			display: none;
			font-size: 1.0em;
			font-weight: bold;
		}

	.form_login .line_field {
		clear: both;
		margin: 0.40em 0.10em;
	}

		.form_login label.label_login {
			font-weight: bold;
			float: left;
			width: 40%;
		}

		.form_login .log_textfield {
			width: 50%;
			padding: 0;
			border: 1px solid #666;
		}

		.form_login .log_dropdown {
			width: 50%;
			padding: 0;
			border: 1px solid #666;
		}

	.form_login .line_button {
		text-align: right;
		margin: 0.20em 0.20em;
	}

		.form_login .line_button .log_button {
			margin: 0.40em 0;
			padding: 0 1em;
			font-size: 1.00em;
			font-weight: normal;
			color: #369;
			background: #c3d3ec;
			font-family: Verdana, Arial, Sans-Serif;
			border: 1px solid #46566f;
			width: auto;
			overflow: visible;
		}

		.form_login .line_button .log_button:hover {
			border: 1px solid #7da6da;
			background: #e5eeff;
		}

		.form_login .line_button .log_button_access {
			margin: 0.40em 0;
			padding: 0 1em 0 26px !important;
			padding: 0 0em 0 0px;
			height: 24px;
			font-size: 0.90em;
			font-weight: normal;
			color: #000000;
			font-family: Verdana, Arial, Sans-Serif;
			border: 1px solid #46566f;
			background: url('../images/standard/log_access.gif') 2px 0px no-repeat #c3d3ec;
			width: auto;
			overflow: visible;
		}


	.log_advice {
		margin: 0.20em 0.20em 1em;
		padding: 0.20em 0.40em;
		font-weight: bold;
		font-size: 0.80em;
		border: 1px solid #369;
	}

	.log_action {
		text-align: right;
	}

	.log_action a {
		font-size: 0.80em;
	}

	.log_action .button_as_link {
		font-size: 0.80em;
	}

	.noaccess {
		margin: 0.20em 0.20em 1em;
		padding: 0.20em 0.40em;
		font-size: 0.80em;
		color: #ff0000;
		border: 1px solid #ff0000;
	}

	.logout_action {
		margin: 0.20em 0.20em 1em;
		padding: 0.20em 0.40em;
		font-size: 0.80em;
		color: #369;
		border: 1px solid #369;
	}


/* -- Login buttons [docebo 3.5] ------------------------- \\\ */
ul.login_buttons {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:0px;
	padding:0px;
}

ul.login_buttons li {
	margin: 0.2em;
	padding-top: 0.5em;;
}

ul.login_buttons li a {
	padding-left: 26px;
	display: block;
	height: 24px;
	font-size: 0.8em;
}

ul.login_buttons li a:hover {
}

ul.login_buttons li.btn_goadmin {
	background: url('../images/standard/goto_admin.gif') 0px 3px no-repeat;
}

ul.login_buttons li.btn_logout {
	background: url('../images/standard/logout.gif') 0px 3px no-repeat;
}

/* ------------------------------------------------------- /// */

/*****************************************************************************************/

.news_list {
	margin: 0;
	padding: 0.20em;
}

	.news_list .news_title {
		padding-left: 0.60em;
		font-weight: bold;
		color: #4b4848;
		font-size: 1.00em;
		margin-bottom: 0.2em;
		padding: 0.2em;
		border-bottom: 2px solid #8d8c91;
	}

	.news_list .news_title a {
		color: #4b4848;
		text-decoration: none;
	}

	.news_list .news_box {
		background: #fff;
		margin-bottom: 1.8em;
	}

	.news_list .news_date {
		font-size: 0.80em;
		float: right;
		color: #1a518a;
		font-weight: bold;
	}

	.news_list .news_text {
		/* background: #c8d8f1; */
		padding: 0.4em;
		margin-bottom: 0.20em;
		font-size: 0.90em;
	}

	.news_list .read_more {
		margin-bottom: 2.00em;
		padding: 0 0.75em 0 1.75em;
		font-size: 0.90em;
		font-weight: bold;
		display: inline;
	}

		.news_list .read_more a {
   		color: #000;
			background: url( '../images/block/readmore.gif' ) right;
			background-color: transparent;
			background-repeat: no-repeat;
			padding: 3px 20px 3px 0;
		}

	.news_list div.inline_comments {
		padding: 0 0.75em 0 1.75em;
		display: inline;
	}

	.news_list div.inline_comments a {
		/*color: #E3832e;*/
		color: #000;
		font-size: 0.90em;
		background: url( '../images/block/comments.gif' ) no-repeat transparent right;
		padding: 3px 20px 3px 0;
	}

	.news_list div.more_here {
		padding: 0 0.75em 0 1.75em;
		display: inline;
	}

	.news_list div.more_here a {
		/*color: #E3832e;*/
		color: #000;
		font-size: 0.90em;
		background: url( '../images/block/arrow_link.gif' ) no-repeat transparent right;
		padding: 3px 20px 3px 0;
	}


	.news_list div.cat_link {
		padding: 0 0.75em 0 1.75em;
		display: inline;
	}

	.news_list div.cat_link a {
		color: #000;
		font-size: 0.90em;
		background: url( '../images/block/icon_cat.gif' ) no-repeat transparent right;
		padding: 3px 20px 3px 0;
	}

	.news_list div.topic_link {
		padding: 0 0.75em 0 1.75em;
		display: inline;
	}

	.news_list div.topic_link a {
		color: #000;
		font-size: 0.90em;
		background: url( '../images/block/topic.gif' ) no-repeat transparent right;
		padding: 3px 20px 3px 0;
	}


	.news_list div.news_inline_links {
		padding: 0.3em 0 0.3em 0;
		border-top: 2px solid #8d8c91;
		border-bottom: 2px solid #8d8c91;
		margin: 0px none;
	}

	.news_list span.highlight {
		background: #E8FF00;
	}

.news_read {

}

	.news_read .news_title {
		color: #464343;
		font-weight: bold;
		padding: 0.20em 0 0.20em 0.4em;
		font-size: 1.20em;
		background: url( '../images/block/news.gif' ) right no-repeat;
		background-color: transparent;
		background-repeat: no-repeat;
		border-bottom: 2px solid #8c8b90;
		margin-top: 0.8em;
	}

	.news_read .news_date {
		font-size: 0.60em;
		padding-left: 1.00em;
	}

	.news_read .news_text {
		margin: 0em;
		padding: 0.60em 0.40em;
		background: #FFFFFF;
	}

	.news_read .news_box {

	}

	.news_read .news_line {
		height: 4px;
		width: 100%;
		margin-top: 0.2em;
		margin-bottom: 1.2em;
		border-bottom: 2px solid #8c8b90;
	}


.block_small .news_title {
	font-size: 0.8em;
	border-bottom: 0px none;
	margin-bottom: 0em;
	color: #4b4848;
}

.block_small .news_title a {
	color: #4b4848;
}

.block_small .news_date {
	font-size: 1em;
	color: #FA0;
	float: left;
	font-weight: bold;
	margin-right: 0.4em;
}

.block_small .news_text {
	padding: 0em;
	background: #FFF;
	font-size: 0.85em;
	/* border-bottom: 1px dotted #91a1ba; */
	margin-bottom: 0.4em;
}


/** Folder common *************************************************************************/

div.cat_list_box {
	padding: 0em;
	margin: 0em;
	border-bottom: 2px solid #8d8c91;
	clear: left;
}


ul.cat_list_box {
	list-style: none;
	margin: 1em 0 0 0;
	padding: 0;
	line-height: 1.3em;
}

	ul.cat_list_box li {
		float: left;
		margin: 0 1em 1.2em 0.5em;
		padding: 0;
	}

	ul.cat_list_box li a {
		float: left;
		height: 48px;
		padding: 6px 1.2em 2px 54px ;
		color: #000;
		font-weight: bold;
		font-size: 14px;
		background-position: 2px 2px;
		background-repeat: no-repeat;
		border-bottom: 1px solid #8d8c91;
		border-right: 1px solid #8d8c91;
	}

	ul.cat_list_box li b {
		color: #000;
		font-size: 0.80em;
	}


/*document*********************************************************************************/

.document_list {
	padding: 0.20em;
}

	.document_list .doc_title {
		padding-left: 0.60em;
		font-weight: bold;
		color: #333;
	}

	.document_list .doc_text {
		padding: 0;
		margin: 0.40em 0 0.80em 0;
		font-size: 0.80em;
	}

	.document_list .doc_download {
		font-weight: bold;
		margin-left: 1.20em;
		margin-bottom: 2.00em;
		font-size: 0.80em;
	}

	div.doc_click {
		color: #888888;
		padding-left: 0.7em;
	}

		.document_list .doc_download img {
			padding-right: 0.60em;
		}


.show_docs .cat_list_back {
	margin-bottom: 1.2em;
}

.show_docs 	ul.cat_list_box li a {
	font-size: 1.1em;
	background-image: url('../images/block/folder.gif');
}

.show_docs .cat_item_info {
	color: #000;
	font-weight: normal;
	font-size: 0.9em;
}


.show_docs .docs_folder_nav {
	color: #000000;
	font-weight: bold;
	padding: 0.20em 0 0.20em 0.4em;
	font-size: 1em;
	height: 22px;
	background: url( '../images/block/docs.gif' ) right no-repeat;
	background-color: transparent;
	background-repeat: no-repeat;
	margin-top: 0.2em;
	margin-bottom: 0.2em;
	border-bottom: 2px solid #8d8c91;
}

.show_docs .docs_folder_nav a {
	color: #475680;
}



.doc_details .docs_text {
	margin: 0em;
	padding: 0.60em 0.40em;
	background: #FFFFFF;
	border-bottom: 1px solid #8c8b90;
}

.doc_details .docs_box {
	padding-top: 0.6em;
	padding-bottom: 2em;
}


.doc_details .doc_img {
	border: 1px solid #CCCCCC;
	padding: 2px;
	margin-bottom: 0.6em;
	display: block;
}

.doc_details a.doc_title {
	padding-left: 0.2em;
	padding-right: 0.6em;
	font-weight: bold;
	text-decoration: underline;
	font-size: 1.2em;
	color: #000;
}


.doc_details span.clicks_label {
	color: #475680;
	font-size: 0.9em;
}

.doc_details .file_link {
	font-weight: bold;
	color: #000;
	padding-right: 0.6em;
}

.doc_details .docs_description, .doc_details .docs_title {
	margin-top: 0.6em;
	padding-left: 0.2em;
}

.doc_details span.description_label, .doc_details span.title_label {
	color: #475680;
	font-weight: bold;
}

.doc_details .docs_url {
	padding-left: 0.2em;
}

.doc_details .docs_url a {
	color: #cccccc;
	font-weight: normal;
	text-decoration: underline;
	font-size: 1em;
}


.doc_details .docs_line {
	height: 4px;
	width: 100%;
	margin-top: 1.4em;
}


.docs_table {
	border: 0px none;
	border-right: 1px solid #8d8c91;
	border-top: 1px solid #8d8c91;
	border-bottom: 2px solid #8d8c91;
	margin-bottom: 1em;
	width: 99%;
}

.docs_table th {
	border-bottom: 2px solid #8d8c91;
	border-left: 1px solid #8d8c91;
}

.docs_table td {
	border-left: 1px solid #8d8c91;
	vertical-align: top;
}

.docs_table td a.file_link {
	color: #000000;
	border-bottom: 1px solid #000000;
	font-weight: normal;
	text-decoration: none;
	margin-left: 0.6em;
}

.docs_table td a.file_link:visited {
	font-weight: normal;
	border-bottom: 1px solid #AAAAAA;
}

.docs_table a.icon_link {
	margin: 0px;
	border: 0px none;
}

.docs_table a.icon_link:visited {
	border: 0px none;
}

.docs_table .details_link {
	font-weight: normal;
	font-size: 0.9em;
	padding-left: 0em;

}

.docs_table .file_title {
	font-weight: bold;
	padding-bottom: 0.2em;
	padding-left: 0.2em;
}

.docs_table .type-one-header {
	background: #fff;
	color: #000;
	height: 22px;
}


.docs_table .line-col {
	background: #c8d8f1;
	padding-top: 0.3em;
	padding-bottom: 0.3em;
}

.docs_table th.clicks, .docs_table th.comments,
.docs_table td.clicks, .docs_table td.comments {
	width: 62px;
}

.docs_table td.type {
	width: 22px;
	text-align: center;
}


/*Gallery**********************************************************************************/

.show_gallery {
}


.show_gallery 	ul.cat_list_box li a {
	background-image: url('../images/block/folder_media.gif');
}

/*
.show_gallery .cat_list_back {
	margin-bottom: 0.4em;
}

.show_gallery .cat_item_box {
	float: left;
	width: 30%;
	margin: 0.4em;
	padding: 0.2em;
	border-bottom: 1px solid #8d8c91;
	border-right: 1px solid #8d8c91;
}

.show_gallery .cat_item_img {
	padding: 0.2em;
	float: left;
	border: 0px none;
}

.show_gallery .cat_list_box a {
	color: #000;
	font-weight: bold;
	font-size: 14px;
} */

.show_gallery .cat_item_info {
	color: #000;
	font-weight: normal;
	font-size: 0.9em;
}

.show_gallery .images_frame {
	padding-bottom: 1em;
}

.show_gallery .images_box {
	background: #FFFFFF;
	padding-top: 1.0em;
	padding-bottom: 1.5em;
	border-bottom: 2px solid #8d8c91;
}

.show_gallery .image_col {
	background: #e3e9eb;
	margin: 0px;
	padding: 0px;
	margin-left: 0.2em;
	margin-right: 0.2em;
	float: left;
	padding-top: 0.4em;
	border: 1px dotted #416171;
	padding-left: 0.6em;
	margin-bottom: 0.6em;
}

.show_gallery .image_thumb {
	margin-bottom: 0.6em;
	margin-right: auto;
	margin-left: auto;
	padding: 0.4em;
	clear: both;
	display: block;
}

.show_gallery .image_frame {
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 1em;
	padding: 0.4em;
	clear: both;
	display: block;
}

.show_gallery .gallery_title_top {
	color: #000000;
	font-weight: bold;
	padding: 0.20em 0 0.20em 0.4em;
	font-size: 1em;
	height: 22px;
	background: url( '../images/block/media.gif' ) right no-repeat;
	background-color: transparent;
	background-repeat: no-repeat;
	margin-top: 0.2em;
	margin-bottom: 0.6em;
	border-bottom: 2px solid #8d8c91;
}

.show_gallery .gallery_title_top a {
	color: #475680;
}

.show_gallery .gallery_title {
	color: #475680;
	padding-left: 0.4em;
	font-size: 1.4em;
	font-weight: bold;
}

.show_gallery .load_media {

	padding-left: 1.00em;
}

.show_gallery .gallery_text {
	margin: 0em;
	padding: 0.60em 0.40em;
	background: #FFFFFF;
	border-bottom: 1px solid #8c8b90;
}

.show_gallery .gallery_box {
	padding-top: 0.6em;
	padding-bottom: 2em;
}

.show_gallery div.gallery_click {
	padding: 0 0em 0 0.4em;
	color: #475680;
	font-weight: bold;
}

.show_gallery div.gallery_click span {
	/*color: #E3832e;*/
	color: #000000;
	font-weight: normal;
	background: url( '../images/block/clicks.gif' ) no-repeat transparent right;
	padding: 3px 20px 3px 0;
}

.show_gallery .gallery_line {
	height: 4px;
	width: 100%;
	margin-top: 1.4em;
}


/*****************************************************************************************/



/*Links**********************************************************************************/

.show_links {
}


.show_links .cat_list_back {
	margin-bottom: 1.2em;
}

.show_links 	ul.cat_list_box li a {
	font-size: 1.1em;
	background-image: url('../images/block/links.gif');
}

.show_links .cat_item_info {
	color: #000;
	font-weight: normal;
	font-size: 0.9em;
}

.show_links .links_folder_nav {
	color: #000000;
	font-weight: bold;
	padding: 0.20em 0 0.20em 0.4em;
	font-size: 1em;
	height: 22px;
	background: url( '../images/block/links22.gif' ) right no-repeat;
	background-color: transparent;
	background-repeat: no-repeat;
	margin-top: 0.2em;
	margin-bottom: 0.6em;
	border-bottom: 2px solid #8d8c91;
}

.show_links .links_folder_nav a {
	color: #475680;
}


.link_details .links_text {
	margin: 0em;
	padding: 0.60em 0.40em;
	background: #FFFFFF;
	border-bottom: 1px solid #8c8b90;
}

.link_details .links_box {
	padding-top: 0.6em;
	padding-bottom: 2em;
}


.link_details .link_img {
	border: 1px solid #CCCCCC;
	padding: 2px;
	margin-bottom: 0.6em;
	display: block;
	float: left;
}

.link_details a.link_title {
	padding-left: 0.2em;
	padding-right: 0.6em;
	font-weight: bold;
	text-decoration: underline;
	font-size: 1.2em;
	color: #000;

}


.link_details span.clicks_label {
	color: #475680;
	font-size: 0.9em;
}

.link_details .links_description {

	clear: left;
	margin-top: 0.6em;
	padding-left: 0.2em;

}

.link_details span.description_label {
	color: #475680;
	font-weight: bold;
}

.link_details .links_url {
	padding-left: 0.2em;
}

.link_details .links_url a {
	color: #555;
	font-weight: normal;
	text-decoration: underline;
	font-size: 1em;
}


.link_details .links_line {
	height: 4px;
	width: 100%;
	margin-top: 1.4em;
}


.links_table {
	border: 0px none;
	border-right: 1px solid #8d8c91;
	border-top: 1px solid #8d8c91;
	border-bottom: 2px solid #8d8c91;
	margin-bottom: 1em;
	width: 99%;
}


.links_table th {
	border-bottom: 2px solid #8d8c91;
	border-left: 1px solid #8d8c91;
}

.links_table td {
	border-left: 1px solid #8d8c91;
	vertical-align: top;
}

.links_table td a.item_link {
	color: #000000;
	border-bottom: 1px solid #00000;
	font-weight: normal;
	text-decoration: none;
	margin-left: 0.6em;
}

.links_table td a.item_link:visited {
	font-weight: normal;
	border-bottom: 1px solid #AAAAAA;
}


.links_table .type-one-header {
	background: #fff;
	color: #000;
	height: 22px;
}

.links_table .line-col {
	background: #c8d8f1;
	padding-top: 0.3em;
	padding-bottom: 0.3em;
}

.links_table th.clicks, .links_table th.comments,
.links_table td.clicks, .links_table td.comments {
	width: 62px;
}

.links_table td.preview {
	padding: 4px;
	width: 80px;
	text-align: center;
}

/**** Comments ***************************************************************************/

	table.type-one {
		empty-cells: show;
		border: 0px none;
	}

	.forumAuthor {
		color: #000;
		padding-left: 0.4em;
		font-size: 12px;
		font-weight: bold;
	}

	.forumSubject {
		margin-top: 0.2em;
		font-size: 12px;
	}

	.line-col .forumSender, .line-col .forumText {
		background: #c8d8f1;
		color: #000;
	}

	.line .forumSender, .line .forumText {
		padding-bottom: 0.2em;
		margin-bottom: 0.2em;
		background: #e9ecf4;
		color: #FFF;
	}

	th.forumSender {
		/* border-right: 1px solid #CCCCCC; */
		border-bottom: 1px solid #FFFFFF;
	}

	th.forumText {
		border-left: 1px solid #FFFFFF;
		border-bottom: 1px solid #FFFFFF;
	}

	.forumAction {
		text-align: right;
	}

	.forumTextof {
		background: #FFF;
		border: 1px solid #a3c0ed;
		margin: 0.2em;
		padding: 0.6em;
		font-size: 12px;
		color: #000;
	}

	.forumBox {
		color: #444;
		font-size: 0.9em;
	}

	.forumAdd {
		margin-top: 1.2em;
		padding: 0.2em;
		text-align: center;
		border-top: 2px solid #8c8b90;
		border-bottom: 2px solid #8c8b90;
	}

	.forumAdd a {
		color: #000;
		font-size: 0.9em;
	}

	.commentsHead {
		font-weight: bold;
		font-size: 14px;
		padding-bottom: 1em;
		padding-top: 1em;
		padding-left: 0.4em;
		color: #000;
	}


/** Forum ****************************************************************************/

.forum_table {

	border: 0px none;
	border-right: 1px solid #cccccc;
	border-top: 1px solid #cccccc;
	margin-bottom: 1em;
	width: 99%;

}

.forum_table .forum_title a {
	text-decoration: none;
	color: #000;
}

.forum_table .forum_title a:hover {
	text-decoration: underline;
	color: #000;
}

.forum_table td {
	border-left: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	vertical-align: top;
}

.forum_table td a {
	color: #890A0A;
	margin-left: 0.6em;
}

.forum_table td a:visited {
}

.forum_table .image {
		text-align: center;
		vertical-align: middle;
		width: 1%;
}

.forum_table .type-one-header {
	background: #CCCCCC;
	border-left: 1px solid #cccccc;
}

.forum_table .line-col {
	background: #EEEEEE;
	padding-top: 0.3em;
	padding-bottom: 0.3em;
}

	.forum_table .forum_lastpost {
		font-size: 0.80em;
		font-style: italic;
	}

	.forum_table .forum_manag {
		text-align: right;
		padding: 0.20em 0 0 0;
	}

	.forum_action_top {
		margin: 0.80em 0 0.80em 0;
		padding: 0.20em;
		text-align: left;
		background: #eeeeee;
		border: 1px solid #cccccc;
	}


	.forum_action_bottom {
		margin: 0.80em 0 0.80em 0;
		padding: 0.20em;
		text-align: right;
		background: #eeeeee;
		border: 1px solid #cccccc;
	}

	option.option_with_image {
		padding: 4px 2px 4px 26px;
		background-position: middle left;
		background-repeat: no-repeat;
	}

	.mess_author {
		font-weight: bold;
	}

	.forum_sender {
		width: 20%;
		vertical-align: top;
	}

	.forum_text {
		width: auto;
		vertical-align: top;
	}

	.filter_evidence {
		background: #EF0;
	}

	div.forum_author {
		font-weight: bold;
		font-size: 1.20em;
		margin: 0.40em 0.6em 0.20em;
	}

	div.forum_level {
		margin: 0 1.6em;
	}

	img.forum_avatar {
		margin: 0.6em 0.6em;
		max-width: 100px;
		max-height: 100px;
	}

	div.forum_numpost {
		margin: 0 0.6em;
	}


	/* XXX: forum post **/

	.forum_post_posted {
		font-size: 0.80em;
		margin: 0.40em 2em 0.60em;
	}

	.forum_post_locked {
		font-size: 1.20em;
		color: #f20;
		margin: 1em;
	}

	.forum_post_title {
		font-size: 1.20em;
		font-weight: bold;
	}

	.forum_post_attach {
		text-align: right;
	}

	.forum_post_text {
		margin: 1.00em 0.60em 0.60em 0.60em;
	}

	.forum_post_modified_by {
		font-weight: bold;
		margin: 1.4em 0em 0.20em 0.2em;
	}

	.forum_post_sign_separator {
		border-top: 1px solid #000;
		width: 40%;
		margin: 2em 0 0.60em 0;
	}

	.forum_post_sign {
		margin: 0.40em 0.40em 0.60em 0.60em;
	}

	.forum_action {
		text-align: right;
	}

	.forum_action a {
		margin: 0 0.2em 0 0.4em;
	}

	.forum_quote {
		background: #fffbda;
		border: 1px dashed #d56e00;
		padding: 0.40em;
		margin: 0.20em;
	}

	.search_mask {
		padding-top: 0.8em;
		text-align: right;
		margin: 0.20em 3em 2em 1em;
	}


/** BugTracker ****************************************************************************/

table.bugtracker {
	border: 0px none;
	border-right: 1px solid #cccccc;
	border-top: 1px solid #cccccc;
	margin-bottom: 1em;
	width: 99%;
}

table.bugtracker th {
	color: #000;
}

table.bugtracker td {
	border-left: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	vertical-align: top;
	color: #000;
}

table.bugtracker td a {
	color: #890A0A;
	margin-left: 0.6em;
}

table.bugtracker td a:visited {
}

table.bugtracker .image {
		text-align: center;
		vertical-align: middle;
		width: 1%;
}

table.bugtracker .type-one-header {
	background: #CCCCCC;
	border-left: 1px solid #cccccc;
}

table.bugtracker .line-col {
	background: #EEEEEE;
}

table.bugtracker .line {
	background: #FAFAFA;
}

table.bug_details {
	margin: 0em;
	padding: 0em;
	border: 1px solid #666;
	width: 98%;
}

table.bug_details caption {
	font-weight: bold;
	margin-bottom: 0.4em;
}

table.bug_details th {
	text-align: left;
	width: 30%;
	color: #666;
	font-weight: bold;
}

table.bug_details td {
	color: #000;
	font-weight: normal;
	height: 20px;
}

table.bug_details th.line-0, table.bug_details td.line-0 {
	background: #FAFAFA;
}

table.bug_details th.line-1, table.bug_details td.line-1 {
	background: #EEE;
}


div.bug_patch_ready {
	margin-top: 1em;
	margin-bottom: 1em;
	background: url('../images/bugtracker/patch_ready.gif') #fffce7 no-repeat 6px 4px;
	border: 1px solid #c49400;
	min-height: 5em;
	padding-left: 0em;
	padding-top: 1em;
	color: #000;
	width: 98%;
}

div.bug_patch_ready .download_link {
	text-align: right;
	margin-right: 1em;
	font-weight: bold;
	padding-bottom: 0.2em;
	margin-top: 1.2em;
}

div.bug_patch_ready .download_link a {
	color: #00A;
}


div.bug_patch_ready .remove_patch {
	background: url('../images/standard/rem.gif') no-repeat right;
	padding-right: 26px;
	text-align: right;
	height: 22px;
	padding-top: 0.1em;
}


div.bug_patch_ready p.patch_desc {
	margin: 0em;
	padding: 0em;
	padding-left: 65px;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	color: #666;
	font-size: 0.9em;
}


div.bug_patch_waiting {
	margin-top: 1em;
	margin-bottom: 1em;
	background: url('../images/bugtracker/patch_waiting.gif') #ffeaea no-repeat 6px 4px;
	border: 1px solid #bc0009;
	min-height: 4em;
	padding-left: 0em;
	padding-top: 1em;
	color: #000;
	width: 98%;
}


div.bug_closed {
	margin-top: 1em;
	margin-bottom: 1em;
	background: url('../images/bugtracker/bug_closed.gif') #fffce7 no-repeat 6px 4px;
	border: 1px solid #c49400;
	min-height: 4em;
	padding-left: 0em;
	padding-top: 1em;
	color: #000;
	width: 98%;
}


div.bug_duplicated {
	margin-top: 1em;
	margin-bottom: 1em;
	background: url('../images/bugtracker/bug_duplicate.gif') #edf8ff no-repeat 6px 4px;
	border: 1px solid #00A;
	height: 3em;
	padding-left: 0em;
	padding-top: 1.2em;
	color: #000;
	width: 98%;
}


div.bug_user_assigned {
	margin-top: 1em;
	margin-bottom: 1em;
	background: url('../images/bugtracker/bug_user_assigned.gif') #FAFAFA no-repeat 6px 4px;
	border: 1px solid #888;
	min-height: 50px;
	padding-left: 0em;
	padding-top: 0.8em;
	color: #000;
	width: 98%;
}


div.bug_user_assigned p.user_assigned_list {
	margin: 0em;
	padding: 0em;
	padding-left: 65px;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	color: #222;
	font-size: 0.9em;
}


div.bug_user_notifications {
	margin-top: 1em;
	margin-bottom: 1em;
	background: url('../images/bugtracker/bug_alerts.gif') #EEE no-repeat 6px 4px;
	border: 1px solid #888;
	min-height: 44px;
	padding-left: 0em;
	padding-top: 1.4em;
	color: #000;
	width: 98%;
}


div.bug_patch_ready p, div.bug_patch_waiting p, div.bug_closed p, div.bug_duplicated p,
	div.bug_user_assigned p, div.bug_user_notifications p {
	margin: 0em;
	padding: 0em;
	padding-left: 65px;
}


div.search_form {
	padding: 0px;
	padding-left: 20px;
	text-align: left;
	margin-bottom: 0.4em;
}


div.show_form {
	background: url('../images/bugtracker/more.gif') no-repeat left;
}


div.hide_form {
	background: url('../images/bugtracker/less.gif') no-repeat left;
}


/** My Alerts ****************************************************************************/

.alerts_table {

	border: 0px none;
	border-right: 1px solid #cccccc;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	margin-bottom: 1em;
	width: 99%;

}


.alerts_table td {
	border-left: 1px solid #cccccc;
	vertical-align: top;
}

.alerts_table .type-one-header {
	background: #CCCCCC;
	border-left: 1px solid #cccccc;
}

.alerts_table .line-col {
	background: #EEEEEE;
	padding-top: 0.3em;
	padding-bottom: 0.3em;
}


/*****************************************************************************************/



.menu_block {
	padding: 0px;
	margin: 0px;
}

.title_menu {
	padding: 0.60em;
	margin: 0px 0px 1.00em 0px;
	font-size: 1.0em;
	font-weight: bold;
	color: #fff;
	background: #69c071;
}

a.voicemenu {
	display: block;
	padding: 0.20em 2.00em 0.20em 0px;
	color: #5d677a;
	font-weight: normal;
	text-align: left;
	text-decoration: none;
	font-size: 1.0em;
}

.submenuline a.voicemenu {
	color: #5d677a;
	font-weight: normal;
}


.menu_lateral {
    margin: 0.40em;
    padding: 0.00em;
    color: #000000;
    border: 0px none;
    list-style: none;
}

    .menu_lateral .intest {
        padding: 0px;
        margin: 0.20em;
    }

        .menu_lateral .intest img {
            margin: 0px 1.00em 0px 0px;
            height: 32px;
        }

        .menu_lateral .intest span {
            font-size: 1.40em;
        }

    .menu_lateral ul {
        list-style: none;
        margin: 0px;
        padding: 0px;
    }

    .menu_lateral li {
        list-style: none;
        margin: 0px; /* border: 1px solid #FFF; */ /* <- tmp fix for IE */
    }

    .menu_lateral a {
        display: block;
        margin: 0px;
        padding: 3px 10px;
        color: #5d677a;
        background: url( '../images/block/arrow.gif' ) no-repeat left center;
    }

    .menu_lateral a:hover {
			text-decoration: underline;
    }

    .menu_lateral .submenu {
			/* padding-right: 4px;
			border-top: 1px solid #00BB00;
			border-bottom: 1px solid #BB0000; */
    		margin: 0px;
    		padding: 0px;
    }

    .menu_lateral .submenu li {
			margin: 0px;
			padding: 0px;
    }

    .menu_lateral .submenuline {
    	/* border-right: 1px solid #00AA00;*/
    		margin: 0px;
			padding: 0px;
    }

    .menu_lateral .submenuline li {
    		margin: 0px;
			padding: 0px;
    }


.moduleBlock {
	padding: 3px;
	margin: 3px;
	background: #fff;
	color: #000000;
}

/************* BLOCCO MEDIA ***************************************************************/

td.slidetxt {
	vertical-align: top;
	text-align: left;
	width: 100%;
}

img.slidelink {
	border: 1px solid #000044;
}

td.startslide {
	text-align: right;
	font-size: 0.85em;
	font-weight: bold;
	padding-right: 6px;
}

/************* BLOCCO LINKS ***************************************************************/

td.linkbox {
	text-align: left;
	vertical-align: top;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 16px;
	width: 100%;
	border-bottom: 1px dashed #E0E0E0;
}

td.linkpreview {
	text-align: left;
	vertical-align: top;
	padding-top: 6px;
	padding-bottom: 16px;
	border-bottom: 1px dashed #E0E0E0;
}

table.linktab {
	padding: 0px;
	border-collapse: true;
}


/************* BLOCCO GUESTBOOK ***************************************************************/

table.guestbox_1 {
	text-align: left;
	vertical-align: top;
	padding-right: 6px;
	padding-top: 6px;
	margin-bottom: 16px;
	width: 100%;
	border: 1px dashed #A0A0E0;
}

table.guestbox_2 {
	text-align: left;
	vertical-align: top;
	padding-right: 6px;
	padding-top: 6px;
	margin-bottom: 16px;
	width: 100%;
	border: 1px dashed #E0E0A0;
}

td.guest_admin_box {
	background: #AAAAAA;
}

/******************************************************************************************/

/* XXX: forum OLD */
/*
.forumNav {
   font-size: 1.00em;
   font-weight: bold;
}

.forumThreadTit {
   padding: 0.00em 0.20em 1.00em 1.00em;
   font-size: 1.20em;
   font-weight: bold;
}

.forumTitle {
   width: 25%;
   vertical-align: middle;
}

.forumText {
   vertical-align: top;
   width: 75%;
}

td.forumCenter {
   text-align: center;
}

td.forumDateCreation {
   width: 20%;
   text-align: center;
}

.forumSender {
   vertical-align: top;
   width: 25%;
}

.forumErased {
   color: #369;
   font-style: italic;
   font-weight: bold;
}

.forumBox {
   margin: 0.00em;
   padding: 0.00em;
   font-weight: normal;
   font-style: italic;
}

.forumAuthor {
   margin: 0.00em;
   padding: 0.00em 0.00em 0.20em 0.00em;
   font-size: 1.20em;
   font-weight: bold;
}

.forumAvatar {
   padding: 0.60em 0.40em 0.40em 0.40em;
   max-width: 80px;
   max-height: 80px;
}

.forumNumpost {
   margin: 0.00em 0.00em 0.80em 0.00em;
   padding: 0.20em 0.00em;
}

.forumSubject {
   margin: 1.00em 0.00em 0.00em 0.00em;
   font-weight: bold;
   font-size: 1.20em;
}

.forumTextof {
   padding: 0.40em;
   margin: 0.00em;
   font-size: 1.20em;
}

.signSeparator {
   padding: 0;
   margin: 1.00em 0.00em 0.50em 0.00em;
   width: 30%;
   border-bottom: 1px solid #033;
}

.forumAction {
   margin: 0.00em 0.00em 0.00em;
   padding: 0.00em;
   text-align: right;
}

.forumLocked {
   margin: 0.80em 0.00em 0.00em 0.00em;
   font-size: 1.20em;
   font-style: italic;
   font-weight: bold;
}

.commandForumLineTop,
.commandForumLine {
   padding: 0.20em 0.60em;
   margin: 1.00em 0.00em 0.20em 0.00em;
   border: 1px solid #666;
}

.commandForumLineTop {
   margin: 0.20em 0.00em 1.00em 0.00em;
} */

/* XXX: register*****************************************/

.formIscrBlock {
   margin: 0.00em 0.20em;
   padding: 0;
}

   .form_field {
       margin: 0.40em 0.00em;
       padding: 2.00em 4.00em;
       border: 1px dashed #033;
       background: #ddd;
   }
      .error_ins {
       margin: 0.00em 0.00em 1.00em 0.00em;
       padding: 0.50em;
       color: #f42;
       font-size: 0.80em;
       font-weight: bold;
       border: 1px solid #f42;
   }
              .formIscrBlock .line_iscr {
       padding: 0.00em 0.00em 0.30em;
       position: relative;
   }
      .formIscrBlock .textfield {
       width: 35%;
   }
      .formIscrBlock .dropSelect {
       padding: 0;
       margin: 0;
       width: 35%;
   }

.formIscrBlock input.button {
   margin: 1.00em 3.00em 0.50em;
   padding: 0.00em 1.00em;
}

div.istruction {
       position: relative;
       margin: 0.00em 0.00em 1.00em 0.00em;
   }
          div.istruction img.key {
           position: relative;
           float: left;
           margin: 0.20em 0.60em 0.00em 0.00em;
       }
              div.istruction div.keytext {
           margin: 0.00em;
           padding: 0.40em;
       }

.grey_istruction {
   font-size: 0.80em;
   color: #666;
}

ul.list_istruction {
   margin: 0.00em;
   padding: 0.50em 2.00em;
   font-size: 0.80em;
   color: #666;
   list-style: disc inside;
}

   ul.list_istruction li {
       margin: 0;
       padding: 0;
   }

div.privacy_policy {
   height: 80px;
   overflow: auto;
      margin: 0.50em 0.00em;
   padding: 0.80em;
   font-size: 0.80em;
   color: #333;
   background: #fff;
   border: 1px dashed #666;
}

/* XXX: Attachments ********************************************************/

ul.attach_list, ul.inline_attach_list {
	list-style: none;
	margin: 0.4em;
	margin-bottom: 0.8em;
	padding: 0px;
}

ul.attach_list li, ul.inline_attach_list li {
	list-style: none;
	padding: 0.2em;
}


/* XXX: Tickets ************************************************************/

table.ticket_table {
	border: 0px none;
	border-right: 1px solid #cccccc;
	border-top: 1px solid #cccccc;
	margin-bottom: 1em;
	width: 99%;
}

table.ticket_table th {
	color: #000;
}

table.ticket_table td {
	border-left: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	vertical-align: top;
	color: #000;
}

table.ticket_table td a {
	color: #890A0A;
	margin-left: 0.6em;
}

table.ticket_table td a:visited {
}

table.ticket_table .image {
		text-align: center;
		vertical-align: middle;
		width: 1%;
}

table.ticket_table .type-one-header {
	background: #CCCCCC;
	border-left: 1px solid #cccccc;
}

table.ticket_table .line-col {
	background: #EEEEEE;
}

table.ticket_table .line {
	background: #FAFAFA;
}


div.ticketmsg_add_box_top {
	border-bottom: 1px solid #AAA;
	padding-bottom: 0.4em;
	margin-bottom: 0.4em;
	margin-top: 1.4em;
}

div.ticketmsg_add_box_bottom {
	border-top: 1px solid #AAA;
	padding-top: 0.4em;
	margin-top: 0.4em;
}

div.ticketmsg_box {
	margin-top: 1em;
	margin-bottom: 1em;
}

div.staff_box {
	border: 1px solid #a5b70d;
	background: #f4f6e2;
}

div.user_box {
	border: 1px solid #204ca6;
	background: #f1f6ff;
}

div.ticketmsg_box p {
	margin: 0px;
	clear: right;
	padding-top: 0em;
	padding-bottom: 0.4em;
	padding-left: 0.4em;
	padding-right: 0.4em;
	color: #000;
}

div.ticketmsg_box div.actions {

	float:right;
	border-left: 1px dotted #AAA;
	border-bottom: 1px dotted #AAA;
	padding: 3px;

}

div.ticketmsg_box div.post_date {
	float: right;
	font-size: 0.8em;
	font-weight: bold;
	margin-right: 0.6em;
}

div.staff_box div.post_date {
	color: #54681d;
}

div.user_box div.post_date {
	color: #648493;
}

div.ticketmsg_box div.author {
	height: 25px;
	margin-left: 0.6em;
	margin-top: 5px;
	float: left;
	color: #000;
}

div.ticket_info {
	color: #000;
	background: #F8F8F8;
	padding: 0.2em;
	padding-top: 0.1em;
	border: 1px solid #DDD;
}

div.ticket_info p {
	clear: both;
	margin: 0.2em;
	line-height: 1.5em;
}

div.ticket_info p b {
	float: left;
	width: 20%;
}

/*****************************************************************************/

div.scanmenu_container {
    padding-bottom: 5px;
    width: 100%;
}

div.scanmenu_containerRM {
    width: auto;
}

div.scanmenu_container h2 {
    background: #FF6600 none repeat scroll 0%;
    color: #FFFFFF;
    font-size: 120%;
    margin: 0px 0px 10px;
    padding: 4px 0px 5px 15px;
}

div.linksCollection {
    clear: left;
    float: left;
    line-height: 1.3em;
    padding-right: 6px;
    margin: 10px 10px 0 0;
    width: 48%;
}

div.evenLinksCollection {
    float: left;
    line-height: 1.3em;
    margin-right: -2px;
    margin-top: 10px;
    padding-right: 6px;
    width: 47%;
}

div.linksCollectionRM {
    padding: 0px 10px 0px 15px;
}

div.scanmenu_container h3 {
    font-size: 100%;
    margin: 0px;
    padding-right: 10px;
}

div.scanmenu_container h3 a {
    color: #F73A24;
    display: inline;
    padding: 0px 4px 3px 0px;
    text-decoration: underline;
}

div.scanmenu_container ul {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin: 0.5em;
    padding: 0px;
}

div.scanmenu_container li {
    display:inline;
    margin: 0.3em;
    padding: 0px;
}

div.scanmenu_container a {
    background: none repeat scroll 0%;
    color: #446AB6;
    padding: 0px 4px 3px 0px;
    text-decoration:none;
}

div.scanmenu_container a:hover {
    background: yellow;
}

/*****************************************************************************/