
/*  XXX: Info box =================================================*/

div.faq_boxinfo_title {
	margin: 0;
	padding: 0.10em 0.40em;
	font-weight: bold;
	color: #ffffff;
	background: #1f538d;
	border: 1px solid #00A;
	margin-top: 1em;
}

div.faq_boxinfo_container {
	margin: 0;
	border: 1px solid #AAA;
	border-top: 0px none;
	background: #eee;
	margin-bottom: 1em;
	color: #222;
	height: auto !important;
	height: 30px;
	min-height: 30px;
}

div.faq_boxinfo_container p {
	padding: 0.40em;
	margin: 0em;
}

/* ================================================================*/

div.faq_colum_25 {
	float: left;
	margin: 0;
	padding: 0.2em;
	width: 23%;
}

div.faq_colum_75 {
	float: left;
	margin: 0;
	padding: 0.2em;
	width: 75% !important;		/* this is for IE 	*/
	width: 74%;					/* 					*/
}


ul.unformatted_list {
	margin: 0.40em 0;
	padding: 0;
	list-style: none;
}

	ul.unformatted_list li {
		margin: 0;
		padding: 0;
	}

div.faq_align_center {
	text-align: center;
	margin-bottom: 1em;
}


div.faq_cat_title {
	font-size: 1.2em;
	font-weight: bold;
	margin: 1em;
}

.faq_evidence {
	background: #EF0;
	color: #000;
}

/* ================================================================*/

.faq_edit_box {
	float:right;
	margin: 0px;
	border: 0px none;
	border-left: 1px dashed #AAA;
	border-bottom: 1px dashed #AAA;
	padding: 0.2em;
	clear: right;
}


.faq_add_box {
	display: block;
	margin: 0;
	padding: 0.4em 0 0 26px;
	vertical-align: middle;
	background-image: url('../images/standard/add.gif');
	background-repeat: no-repeat;
	background-position: left center;

	height: auto !important;
	height: 22px;
	min-height: 22px;

	border: 0px none;
	border-top: 1px dotted #1f538d;
}

