<?xml version="1.0" encoding="utf-8" ?>
<Configuration>
  <Section name="ApplicationConfiguration">
    <Key name="ApplicationClass" value="TalaAPI.TalaApplication"/>
    <Key name="ApplicationAssembly" value="TalaAPI.dll"/>
    <Key name="AutoStart" value="false" />
    <Key name="AutoStartParam" value="" />
    <Key name="DefaultLocale" value="vi-VN" />
  </Section>  
</Configuration>