
body {
	background: #ccddff;
	font-family: Verdana;
	font-size: 0.8em;
}

#main_page {
	border: 1px solid #369;
	background: #fff;
	padding: 4px;
	width: 75%;
	margin: 75px auto;
}

h1 {
	font-size: 1.2em;
}

.filter_container {
	margin: 12px;
	border-bottom: 1px solid #959796;
}
.fc_header {
	border-bottom: 0px none;
	height: 22px;
	background: url('../images/filterbox/sprite.png') 0 0 repeat-x #eeeeee;
	position: relative;
}
.fc_header .tl_corner {
    position: absolute;
    top: 0px;
    left: 0px;
    display:block;
    height: 22px;
    width: 9px;
	background: url('../images/filterbox/sprite.png') 0 -60px no-repeat transparent;
}
.fc_header .tr_corner {
    position: absolute;
    top: 0px;
    right: 0px;
    display:block;
    height: 22px;
    width: 9px;
	background: url('../images/filterbox/sprite.png') 0 -90px no-repeat transparent;
}


.cmd_expand {
	visibility:hidden;
    position: absolute;
    top: 2px;
    right: 12px;
    display:block;
    height: 22px;
    width: 16px;
    overflow:hidden;
	background: url('../images/filterbox/sprite_ico.png') 0 -20px no-repeat transparent;
}

.cmd_collapse {
    position: absolute;
    top: 2px;
    right: 12px;
    display:block;
    height: 22px;
    width: 16px;
    overflow:hidden;
	background: url('../images/filterbox/sprite_ico.png') 0 0px no-repeat transparent;
}


.fc_collapsed .cmd_collapse { visibility:hidden; }
.fc_collapsed .cmd_expand { visibility:visible; }
.fc_collapsed .fc_body_filter { display:none; }

.cmd_expand a, .cmd_collapse a {

    display:block;
    height: 22px;
    width: 16px;
    text-indent: 220px;
}

.fc_header h2 {
	padding-top: 2px;
	margin: 0px 9px 0px;
	color: #192f58;
	font-size: 1.0em;
    line-height: 1.3em;
	border-top: 1px solid #959796;
}

.fc_header .filter_details {
	background: url('../images/filterbox/sprite_ico.png') 0 -40px no-repeat transparent;
	padding-left: 24px;
}

.fc_sec_header {
	padding: 8px 12px 4px;
	margin: 0;
	color: #ffffff;
	background: #92b3e8;
	border-left: 1px solid #959796;
	border-right: 1px solid #959796;
}

.fc_body_filter {
	margin: 0;
	padding: 2px 8px;
	background: #ffffff;
	border-left: 1px solid #959796;
	border-right: 1px solid #959796;
}

.fc_body_filter form {margin:0;padding:0;}

.fc_filter_line {
	margin: 8px 6px 10px;
	padding: 0;
	font-size: 0.9em;
}

.filter_corr {
	font-size: 0.8em;
}


.filter_corr input {
    vertical-align: middle;
	line-height: 1.3em;
}

.fc_filter_line p.fc_supportp { margin: 0; padding: 0; display: none; }

.fc_filter_line p.fc_supportp label {}
					
.fc_body_filter input.fc_filter_value {
	font-size: 1em;
	line-height: 1.1em;
	width: 40px;
	text-align: right;
	margin: 0 4px;
	padding: 1px;
}

.fc_body_filter select {
	font-size: 1em;
	line-height: 1.3em;
	margin: 0 4px;
	padding: 0;
}

a.fc_filter_comand {
	color: #192f58;
	font-size: 0.8em;
}




.yui-skin-docebo span.fc_button {
	background: url('../images/filterbox/sprite.png') 0 -35px repeat-x #d9d9d9; border-color:#808080;
	border-style:solid;
	border-width:1px 0pt;
	margin:auto 0.25em;

	display:-moz-inline-box;
	vertical-align:text-bottom;

}

#fc_addfilter span a {
	background: url('../images/filterbox/sprite_ico.png') 4px -60px no-repeat;
	padding-left: 26px;
}
#fc_cancfilter span a {
	background: url('../images/filterbox/sprite_ico.png') 4px -80px no-repeat;
	padding-left: 26px;
}



.yui-skin-docebo .yui-button {
	border-width: 1px 0;
	border-style: solid;
	border-color: #808080;
	background: url('../images/filterbox/sprite.png') 0 -35px repeat-x #d9d9d9;
	margin: auto .25em;
}

.yui-skin-docebo .yui-button .first-child {
	border-width: 0 1px;
	border-style: solid;
	border-color: #808080;
	margin: 0 -1px;
	position: static;
	*left: -1px;
}

.yui-skin-docebo .yui-button button, .yui-skin-docebo .yui-button a {
	padding: 0 10px;
	font-size: 93%;
	line-height: 20px;
	*line-height: 1.84;
	min-height: 20px;
	*min-height: auto;
	color: #000;
	text-decoration: none;
}

.schedule_container {
	margin: 12px;
}

.schedule_table {
	empty-cells: show;
	width: 100%;
	border: solid 1px #959796;
	border-collapse: collapse;
	font-family: Tahoma,Sans-serif;
}

.schedule_table th {
	font-size: 0.9em;
	background-color: #DDDDDD;
	text-align: center;
	border: solid 1px #959796;
}

.schedule_table td {
	font-size: 0.9em;
	background-color: #FFFFFF;
	text-align: center;
	border: solid 1px #959796;
}
























