<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="it">
	<head>
		<docebo:general-meta name="content_type" />
		
		<title>
			<docebo:general-object name="pagetitle" />
		</title>
		
		<meta name="Copyright" content="Docebo srl" />
		<link href="http://www.docebo.com/" rel="copyright" />
		
		<link href="/favicon.ico" rel="shortcut icon" />
	
		<docebo:general-style from="template" file="/style/style_one.css" />
		<docebo:general-style from="template" file="/style/style_corner.css" />
		
		<docebo:general-script from="addons" file="/scriptaculous/lib/prototype.js" />
		<docebo:general-script from="addons" file="/scriptaculous/lib/events_onload.js" />
		<docebo:general-script from="addons" file="/scriptaculous/src/scriptaculous.js" />
		
		<docebo:general-script from="basesite" file="/script/resource.chat.js" />
		<docebo:general-script from="basesite" file="/script/resource.user.js" />
		<docebo:general-script from="basesite" file="/script/resource.room.js" />
		<docebo:general-script from="basesite" file="/script/connection.js" />
		<docebo:general-script from="basesite" file="/script/ajax.video_conference.js" />
		<docebo:general-zone param="other_field" />
	</head>
	<body>
		
		<div id="webcam_list">
		
			<h1>Webcam</h1>
			<div id="effective_webcam_list">
				<object id="web_test" type="application/x-shockwave-flash" data="{--vc_path--}/flash/test.swf" width="0" height="0">
					<param name="movie" value="{--vc_path--}/flash/webcam.swf" />
					<param name="bgcolor" value="#ffffff" />
					<param name="quality" value="high" />
				</object>
				<!--
				<div>
					<object id="web_self" type="application/x-shockwave-flash" data="{--vc_path--}/flash/webcam.swf" width="250" height="200">
						<param name="movie" value="{--vc_path--}/flash/webcam.swf" />
						<param name="bgcolor" value="#ffffff" />
						<param name="quality" value="high" />
					</object>
				</div>
				-->
			</div>
		</div>

		<div id="drawboard_space">
			<h1>Lavagna</h1>
			<div id="effective_drawboard">
				
				<object id="drawboard" type="application/x-shockwave-flash" data="{--vc_path--}/flash/drawboard.swf" width="500" height="700">
					
					<param name="movie" value="{--vc_path--}/flash/drawboard.swf" />
					<param name="bgcolor" value="#ffffff" />
					<param name="quality" value="high" />
				</object>
			</div>
		</div>

		<div id="user_list">
			
			<h1>Utenti</h1>
			<div id="mycommand" class="border_round">
			</div>
			<!-- ========================================= -->
			<div id="effective_user_list">
			
			</div>
		</div>
		
		<div id="chat">
		
			<h1>Chat</h1>
			<div id="chat_msg_list"></div>
			<div id="chat_msg_new">
				<form method="post" action="" onsubmit="Chat_VR.post_message(); return false;">
					<div>
						<p><label for="chat_msg_text">Testo: </label></p>
						<input type="text" id="chat_msg_text" name="chat_msg_text" maxlength="1000" /> 
						<input type="submit" id="chat_msg_submit" name="chat_msg_submit" value="invia" />
					</div> 
				</form>
			</div>
		</div>
		
		<div id="debug"></div>
		<script type="text/javascript">
			Event.observe(window, 'load', function() { Effect.roundByClass('border_round'); }, false);
			Event.observe(window, 'load', function() { VideoConferenceSetup('{--template_path--}', '{--vc_path--}'); } , false);
		</script>
	
	</body>
</html>