<?xml version="1.0" encoding="utf-8" ?>
<DataSources id="74ee2b87-3270-4d11-93e9-eb7461006b1e">
  <!-- datasources definition for Quantum.Tala.Service module, so give us guid of Quantum.Tala.Service.dll -->
  <DataSource name="System">
    <Provider>MySQL 5</Provider>
    <ConnectionInfo key="data source">quantummatbao.gurucore.com</ConnectionInfo>
    <ConnectionInfo key="user id">root</ConnectionInfo>
    <ConnectionInfo key="pwd" encrypted="false">quantum123!</ConnectionInfo>
    <ConnectionInfo key="initial catalog">tala</ConnectionInfo>
  </DataSource>
</DataSources>