<?xml version="1.0" encoding="utf-8" ?>
<Configuration>
  <Section name="ApplicationConfiguration">
    <Key name="ApplicationClass" value="TalaAPI.TalaProgramApplication"/>
    <Key name="ApplicationAssembly" value="TalaAPI.dll"/>
    <Key name="AutoStart" value="false" />
    <Key name="AutoStartParam" value="" />
    <Key name="DefaultLocale" value="vi-VN" />

    <Key name="VTCKeyCode" value="5357DE0E4B2D7FCEDBE9EF849BFDB7AF" />
  </Section>  
</Configuration>