
body {
	height: 100%;
	margin: 0;
	padding: 0;
	background: #9ab4cb;
	font-size: small;
	font-family: verdana, arial, sans-serif;
}

a {
	color: #000;
}

img {
	margin: 0;
	padding: 0;
	border: 0px none;
}

form {
	margin: 0;
	padding: 0;
}

ul.blind_navigation {
	position: absolute;
	top: -999px;
}


/*=Useful=class======================================================*/

/*=Align=class=======================================================*/

.align_left {
	text-align: left;
}

.align_center{
	text-align: center;
}

.align_right {
	text-align: left;
}

.valign_top {
	text-align: top;
}

.valign_middle {
	text-align: middle;
}

.valign_bottom {
	text-align: bottom;
}

/*=Floating=class====================================================*/

.float_left {
	float: left;
}

.float_right {
	float: right;
}

.no_float {
	clear: both;
}

/*=Color=============================================================*/

.font_red {
	color: #f00;
}

.font_blu {
	color: #00f;
}

.font_green {
	color: #0f0;
}

/*=Styling===========================================================*/

.text_bold {
	font-weight: bold;
}

.text_italic {
	font-style: italic;
}

.text_little {
	font-size: 0.80em;
}

/*=Title=============================================================*/

.title {
	margin: 0 0 0 0.40em;
	font-size: 1.20em;
	font-weight: bold;
}

.title_big {
	margin: 0 0 0 0.40em;
	font-size: 1.40em;
	font-weight: bold;
}

/*= XXX: Instruction=list============================================*/

ul.instruction_list {
	margin: 0 0 1.50em 0.40em;
	padding: 0.50em 2.00em;
	font-size: 0.80em;
	list-style: disc;
}

	ul.instruction_list li {
		margin: 0 0 0.40em 0;
		padding: 0;
	}


/*=Header============================================================*/

.header {
	z-index: 3;
	height: 120px;
	width: 100%;
	padding: 0px;
	position: absolute;
	background: #fff;
	background-image: url( '../images/back_header.png' );
	background-repeat: repeat-y;
	background-position: right top;
	border-bottom: 1px solid #fff;
}

/*=LeftZone=menu=====================================================*/

.spacer {
	height: 121px;
	padding: 0;
	margin: 0;
}

.block_left {
	z-index: 2;
	
	height: 99.8%;
	width: 20%;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	
	position: absolute;
	
	text-align: right;
	letter-spacing: 0.10em;
	color: #fff;
	background-color: #fff;
	
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
}
	
	.block_left h1.title_menu {
		margin: 2.00em 0;
		padding: 0.60em;
		background: #002d56;
		font-size: 1.00em;
		border-top: 1px solid #fff;
		border-right: 0px none;
		border-bottom: 1px solid #fff;
		border-left: 0px none;
	}
	
	.block_left div.elem_menu,
	.block_left div.elem_menu_dot {
		margin: 0.50em;
		padding: 0 20px 0 0;
	}
	
	.block_left div.elem_menu_dot {
		background-image: url( 'images/menu_dot.gif' );
		background-repeat: no-repeat;
		background-position: right;
	}
	
	.block_left div.actual {
		text-decoration: underline;
	}
	
/*=Right=container===================================================*/

.block_right {
	z-index: 1;
	min-height: 100%;
	width: 80%;
	left: 20%;
	
	margin: 0;
	padding: 0;
	
	position: absolute;
}
/*=Central=text=area=================================================*/
	
	.block_right form.central_form {
		
		min-height: 80%;
		padding: 0 8.00em 0 2.00em;
	}
	
	.block_right .central_area {
		margin: 2.00em 0 0 0;
		padding: 0;
		height: 80%;
		color: #000;
		background: #fff;
	}
	
	h2.title_area {
		font-size: 1.20em;
		margin : 0;
		padding: 1.0em;
		color: #000;
		background: #fff;
		border-bottom: 1px solid #000;
	}
	
	
/*=Title=and=text=elements===========================================*/
	
	.block_right .title_step {
		margin: 0 0 0.60em 1.00em;
		text-indent: 1.00em;
		font-size: 1.20em;
	}
	
		.block_right .title_step img {
			vertical-align: middle;
			padding-right: 1.00em;
		}
	
	.block_right .descr_step {
		padding: 0.40em 0;
		font-weight: normal;
		text-align: justify;
	}
	
	.block_right .separator {
		margin: 1.40em 0;
		border-bottom: 1px dashed #fff;
	}

.upd_error {
	color: #f00;
}

.upd_ok {
	color: #369;
}

/* XXX: progress bar ***********************************************/

.progress_container {
	position: relative;
	width: 400px;
	padding: 0px;
	height: 16px;
	margin: 0.80em;
}

	.progress_container .progress_elem,
	.progress_container .progress_elem_red,
	.progress_container .progress_elem_begin,
	.progress_container .progress_elem_end {
		position: relative;
		float: left;
		padding: 0;
		margin: 0;
		height: 16px;
		background: #369;
		border-top: 1px solid #000;
		border-bottom: 1px solid #000;
	}
	
	.progress_container .progress_elem_red {
		background: #f00;
	}
	
	.progress_container .progress_elem_begin {
		width: 0px;
		border-right: 1px solid #000;
	}
	
	.progress_container .progress_elem_end {
		width: 0px;
		border-left: 1px solid #000;
		background: transparent;
	}
		.services { 
		text-align: left;        
		margin: 2.00em 1.00em 0.20em;
		padding: 0.60em;                                                                               
		border: 1px solid #fff;
		font-size: 0.80em;
	}  
	
	.services a {
		padding-left: 0.80em;
		color: #fff;      
	}
	
	
form.std_form {
	margin: 0;
	padding: 0;
}

/* XXX: main_zone */

.form_elem {
	margin : 0 0.4em;
	padding : 0.8em;
	color: #000;
	background: #cdf;
}

.form_elem_button {
	  margin : 0;
	  padding : 1em 3em 1.4em;
	  text-align : right;
	  background: #fff;
}

/* XXX: lines of the form */

.form_line_text {
	clear: both;
	margin: 0.4em 0;
	padding: 0.4em;
}

.form_line_l {
	  clear : both;
	  position : relative;
	  margin : 0 0 0.8em;
	  padding : 0;
}

	/* NOTE: label */

	.fomr_line_l p {
		margin: 0;
		padding: 0;
		display: inline;
	}

	label.label_bold {
		  font-weight : normal;
	}

	label.label_padded {
		  padding: 0 1em 0 0.20em;
	}

	.form_line_l .label_head {
		  float : left;
		  width : 20%;
		  padding : 0;
		  font-weight : bold;
	}

	form label.floating,
	div.label_effect {
		  float : left;
		  width : 35%;
		  margin : 0 0.2em 0 0;
		  padding : 0;
		  font-weight : bold;
		  position : relative;
	}

	/* NOTE: textfield */
	form .textfield_wh_full,
	form .textfield_nowh,
	form .textfield {
		 margin : 0;
		 padding : 0;
		 border : 1px solid #666;
	}

	form .textfield {
		  width : 30%;
	}

	/* NOTE: textarea */
	form .textarea_wh_full,
	form .textarea_nowh,
	form .textarea {
		  margin : 0;
		  padding : 1px;
		  border : 1px solid #666;
	}

	form .textarea {
		  width : 30%;
	}

	form .textarea_wh_full {
		  width : 98%;
	}

	/* NOTE: file upload */
	form .fileupload {
		  margin : 0;
		  padding : 0;
		  border : 1px solid #666;
	}

	/* NOTE: group for checkbox and radio button */
	form div.grouping_nowh,
	form div.grouping {
		  float : left;
		  margin : 0 0 0.6em;
		  position : relative;
	}

	.form div.grouping {
		  width : 60%;
	}

	/* NOTE: check */
	form .check {
		margin : 0;
		padding : 0;
		vertical-align: middle;
	}

	/* NOTE: radio */
	form .radio {
		margin : 0;
		padding : 0;
		vertical-align: middle;
	}

	/* NOTE: select */
	form .dropdown_nowh,
	form .dropdown {
		  margin : 0;
		  padding : 0;
		  border : 1px solid #666;
	}

	form .dropdown {
		  width : 30%;
	}

	option.option_with_image {
		padding: 4px 2px 4px 26px;
		background-position: top left;
		background-repeat: no-repeat;
	}


	/* NOTE: select (with size != 1) */
	form .listbox_nowh,
	form .listbox {
		  margin : 0;
		  padding : 0;
		  border : 1px solid #666;
	}

	form .listbox {
		  width : 30%;
	}

/* XXX: Link as button classes */
.link_button {
	margin: 0.5em 0.5em 0 0.5em;
	padding: 0;
	display: inline;
}

	.link_button a {
		padding: 0.30em;
		background: #ccc;
		border: 1px solid #777;
	}

/* XXX: field set */
fieldset.fieldset_std {
	clear: both;
	margin: 1em 0;
	padding: 0.3em 0.6em 0.6em;
	border: 1px solid #369;
}

	fieldset.fieldset_std legend {
		margin: 0 0.20em;
		padding: 0;
		font-weight: bold;
	}

	fieldset.fieldset_std .fieldset_content {
		margin: 0;
		padding: 0.40em 0 0 0;
	}

/* XXX: button */

	.button,
	.button_nowh,
	.button_nopad {
		margin : 0 0 0.4em 0.4em;
		padding: 0 10px;
		color: #000;
		font-weight: bold;
		background: #d9d9d9;
		border: 1px solid #707676;
		
		width: auto;
		overflow: visible;
	}

	.button_nowh {
		margin : 0;
	}

	.button_nopad {
		padding: 0;
	}

	.transparent_button {
		margin: 0;
		width: 22px;
		height: 22px;
		background: transparent;
		overflow: hidden;
		border: 0px none;
		vertical-align: top;
		font-weight: normal;
		cursor: pointer;
	}

	.transparent_aslink_button {
		margin: 0;
		padding: 0 0.20em;
		height: 22px;
		background: transparent;
		overflow: hidden;
		border: 0px none;
		vertical-align: top;
		font-weight: normal;
		cursor: pointer;
		border-bottom: 1px solid #000;
	}

	.transparent_add_button {
		/* transparent add submit */
		padding: 0px 1em 0px 25px;
		margin: 0px;
		height: 22px;
		background-image: url('../images/standard/add.gif');
		background-repeat: no-repeat;
		background-position: left;
		background-color: transparent;
		border: 0px none;
		color: #ff0000;
		font-weight: normal;
		cursor: pointer;
	}

	.transparent_del_button {
		/* transparent del submit */
		padding: 0px 1em 0px 25px;
		margin: 0px;
		height: 22px;
		background-image: url('../images/standard/rem.gif');
		background-repeat: no-repeat;
		background-position: left;
		background-color: transparent;
		border: 0px none;
		font-weight: bold;
		cursor: pointer;
	}

	.transparent_undo_button {
		/* transparent undo submit */
		padding: 0px 1em 0px 25px;
		margin: 0px;
		height: 22px;
		background-image: url('../images/standard/undo.gif');
		background-repeat: no-repeat;
		background-position: left;
		background-color: transparent;
		border: 0px none;
		font-weight: bold;
		cursor: pointer;
	}

	.trigger_calendar {
		margin-left: 0.60em;
		width: 22px;
		height: 22px;
		background: transparent;
		overflow: hidden;
		background-image: url( '../images/standard/calendar.gif' );
		background-position: top;
		background-repeat: no-repeat;
		border: 0px none;
		cursor: pointer;
		vertical-align: top;
	}

	input.graphic_submit22,
	.button_image,
	.transparent_more_button,
	.transparent_less_button {
		/* transparent submit */
		padding: 0px;
		margin: 0px;
		width: 22px;
		height: 22px;
		overflow: hidden;
		border: 0px none;
		background-repeat: no-repeat;
		background-color: transparent;
		vertical-align: middle;
		cursor: pointer;
	}

/* XXX: particular forum classes*/

fieldset.configuration {
	margin: 0 0 1.50em 0;
	padding: 0.40em;
	border: 1px solid #006699;
}

	fieldset.configuration legend {
		margin: 0 0 0 0;
		padding: 0.20em 1.00em 0.20em 0.20em;
		font-weight: bold;
	}

	fieldset.configuration .field_content {
		margin: 0.80em 0 0 0;
		padding: 0.40em 0.60em 0.60em 2.00em;
	}


	img {border: 0px none;}
	a {color: #666;}
    .my_table {
        margin: 25px 50px;
        padding: 0;
        background: #aaccff;
        border-collapse: collapse;
		border: 1px solid #485581;
		width: 75%;
	}
    .my_table tr th.image {
       width: 1%;
       whiet-space:nowrap;
	}
    .my_table tr th.colum {
       width: 25%;
       whiet-space:nowrap;
	}

    .my_table tr th {
        margin: 0;
        padding: 4px 4x;
        letter-spacing: 1px;
        color: #000000;
        background: #CCCCCC;
		border: 1px solid #485581;
	}
	
    .my_table tr td {
        margin: 0;
        padding: 6px 12px;
		border-left: 1px solid #485581;
		border-right: 1px solid #485581;
	}

    .my_table tr.line-1 td {
        background: #fafafa;
	}

    .my_table tr.line-2 td {
        background: #eeeeee;
	}
	
    .my_table tr.line-exp td {
		padding: 15px;
		line-height: 1.5em;
        background: #CDE0EE;
		border: 1px solid #485581;
	}
	
	span.move_handler {
              cursor: move;
	}
	
	#myt_h_move {width:1%;}
	#myt_h_mod {width:1%;}
	#myt_h_del {width:1%;}

	.waiting {padding-right: 4px;}