<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{--general:lang_code--}">
	<head>
		<docebo:general-meta />
		<title>
			<docebo:general-title />
		</title>	
		<docebo:general-style from="lms" file="reset-min.css" />
		<docebo:general-style from="lms" file="style_home.css" />
		<docebo:general-style from="core" file="style_form.css" />
		<docebo:general-style from="lms" file="style_register.css" />
		<docebo:general-style from="lms" file="style_tab.css" />
		<docebo:general-style from="lms" file="style_course_list.css" />
		<!--[if lte IE 6]>
			<docebo:general-style from="lms" file="style_lte_6.css" />
		<![endif]-->
		<!--[if IE 7]>
			<docebo:general-style from="lms" file="style_ie_7.css" />
		<![endif]-->
		<docebo:general-zone name="page_head" />
	</head>
	<body class="yui-skin-sam">
		<docebo:general-zone name="blind_navigation" />
		<div id="main_line">
			<h1 id="main_title"><a href="index.php">{--language:login:_MAIN_TITLE--}</a></h1>
			<docebo:login-menu id="main_menu" />
		</div>
		<div id="main_container_noh">
			<docebo:login-language_selection id="language_selection" />
			
			<docebo:general-zone name="content" />
		</div>
		
		<docebo:general-zone name="def_lang" />
	</body>
</html>