<IfModule mod_rewrite.c>
    RewriteEngine on
    #Options +FollowSymlinks
    RewriteRule ^page/(.*)/(.*).html index.php?special=changearea&newArea=$1
    RewriteRule ^set-language_([^-]*)-(.*).html index.php?special=changelang&newLang=$2
    RewriteRule ^news/(\d*)_(\d*)/(\d*)/(.*).html index.php?mn=news&pi=$1_$2&id=$3
    RewriteRule ^forum/(.*)/(.*)/(.*)/(.*).html index.php?mn=forum&pi=$1&op=$2&mr_str=$3&mr_name=$4&%{QUERY_STRING}
    RewriteRule ^bugtracker/(.*)/(.*)/(.*)/(.*).html index.php?mn=bugtracker&pi=$1&op=$2&mr_str=$3&mr_name=$4&%{QUERY_STRING}
		RewriteRule ^faq/(.*)/(.*)/(.*)/(.*).html index.php?mn=faq&pi=$1&op=$2&mr_str=$3&mr_name=$4&%{QUERY_STRING}
		RewriteRule ^wiki/(.*)/(.*)/(.*)/(.*)/(.*) index.php?mn=wiki&pi=$1&op=$2&lang=$3&mr_str=$4&page=$5&%{QUERY_STRING}
</IfModule>