<?xml version="1.0" encoding="utf-8" ?>
<DataProviders>
  <DataProvider name = 'MySQL 5'>
    <!-- ado -->
    <Assembly>mysql.data.dll</Assembly>
    <ConnectionClass>MySql.Data.MySqlClient.MySqlConnection</ConnectionClass>
    <DataAdapterClass>System.Data.MySqlClient.MySqlDataAdapter</DataAdapterClass>
    <CommandClass>System.Data.MySqlClient.MySqlCommand</CommandClass>
    <ParameterClass>System.Data.MySqlClient.MySqlParameter</ParameterClass>
    <DataReaderClass>System.Data.MySqlClient.MySqlDataReader</DataReaderClass>
    <TransactionClass>System.Data.MySqlClient.MySqlTransaction</TransactionClass>
    <!-- sql -->
    <ParameterForm>?name</ParameterForm>
    <InlineParameterForm>?name</InlineParameterForm>
    <UnicodeForm>'value'</UnicodeForm>
    <FieldNameWrap>`</FieldNameWrap>
    <LatestIdentityStatement>last_insert_id()</LatestIdentityStatement>
    <AllowBatchQuery>yes</AllowBatchQuery>
    <PagingSelectTemplate>SELECT #fieldlist FROM #table WHERE #filter ORDER BY #order LIMIT #lastrow;</PagingSelectTemplate>
  </DataProvider>
	<DataProvider name = 'SQL Server 2000'>
		<!-- ado -->
		<Assembly></Assembly>
		<ConnectionClass>System.Data.SqlClient.SqlConnection</ConnectionClass>
		<DataAdapterClass>System.Data.SqlClient.SqlDataAdapter</DataAdapterClass>
		<CommandClass>System.Data.SqlClient.SqlCommand</CommandClass>
		<ParameterClass>System.Data.SqlClient.SqlParameter</ParameterClass>
		<DataReaderClass>System.Data.SqlClient.SqlDataReader</DataReaderClass>
		<TransactionClass>System.Data.SqlClient.SqlTransaction</TransactionClass>
		<!-- sql -->
		<ParameterForm>@name</ParameterForm>
		<InlineParameterForm>@name</InlineParameterForm>
		<UnicodeForm>N'value'</UnicodeForm>
    <FieldNameWrap></FieldNameWrap>
		<LatestIdentityStatement>SCOPE_IDENTITY()</LatestIdentityStatement>
		<AllowBatchQuery>yes</AllowBatchQuery>
		<PagingSelectTemplate>
      IF OBJECT_ID('tempdb..#Temp_1') IS NOT NULL     DROP TABLE #Temp_1; IF OBJECT_ID('tempdb..#Temp_2') IS NOT NULL     DROP TABLE #Temp_2; SELECT TOP #lastrow #order AS __Order,#fieldlist INTO #Temp_1 FROM #table WHERE #filter ORDER BY __Order #normal; DECLARE @TotalRec int; SELECT @TotalRec = #rowcount-(#lastrow-COUNT(*)) FROM #Temp_1; IF @TotalRec &lt; 0 SELECT @TotalRec = 0; SET ROWCOUNT @TotalRec; SELECT * INTO #Temp_2 FROM #Temp_1 ORDER BY __Order #reversed; SET ROWCOUNT 0; SELECT * FROM #Temp_2 ORDER BY __Order #normal;
    </PagingSelectTemplate>
	</DataProvider>
	<DataProvider name = 'Oracle 10g'>
		<!-- ado -->
		<Assembly>System.Data.OracleClient.dll</Assembly>
		<ConnectionClass>System.Data.OracleClient.OracleConnection</ConnectionClass>
		<DataAdapterClass>System.Data.OracleClient.OracleDataAdapter</DataAdapterClass>
		<CommandClass>System.Data.OracleClient.OracleCommand</CommandClass>
		<ParameterClass>System.Data.OracleClient.OracleParameter</ParameterClass>
		<DataReaderClass>System.Data.OracleClient.OracleDataReader</DataReaderClass>
		<TransactionClass>System.Data.OracleClient.OracleTransaction</TransactionClass>
		<!-- sql -->
		<ParameterForm>name</ParameterForm>
		<InlineParameterForm>:name</InlineParameterForm>
		<UnicodeForm>'value'</UnicodeForm>
    <FieldNameWrap></FieldNameWrap>
		<LatestIdentityStatement>SCOPE_IDENTITY()</LatestIdentityStatement>
		<AllowBatchQuery>no</AllowBatchQuery>
		<PagingSelectTemplate></PagingSelectTemplate>
	</DataProvider>
</DataProviders>
