.tree_view_image {
	margin: 0px 3px;
	float: right;
}
div.TreeViewContainer {
	background-color: #E2ECF7;
	border-width: 1px;
	border-style: solid;
	border-color: black;
	padding: 3px;
}
div.TreeViewActionContainer {
	border-top-width: 0px;
	border-left-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-style: solid;
	border-color: black;
	padding-left: 3px;
	padding-right: 0px;
	height: 28px;
}
div.TreeViewActionContainer img {
	vertical-align: middle;
	cursor: pointer;
}
input.TreeViewAction {
	font-family: tahoma, verdana, arial, sans-serif;
	text-decoration: underline;
	text-align: left;
	background-color: white;
	border-style: none;
	font-weight: bold;
	padding-top: 3px;
	padding-left: 0px;
	padding-right: 0px;
	margin: 0px;
	cursor: pointer;
	width: auto;
	overflow: visible;
}
div.TreeViewRowOdd {
	padding: 0px;
	margin: 0px;
	height: 28px;
}
div.TreeViewRowOdd img {
	vertical-align: middle;
}
div.TreeViewRowOdd:hover {
	background-color: #3289C9;
	padding: 0px;
	margin: 0px;
	height: 28px;
}
div.TreeViewRowEven {
	background-color: #ffffff;
	padding: 0px;
	margin: 0px;
	height: 28px;
}
div.TreeViewRowEven img {
	vertical-align: middle;
}
div.TreeViewRowEven:hover {
	background-color: #3289C9;
	padding: 0px;
	margin: 0px;
	height: 28px;
}
div.TreeViewRowEven:hover input {
	color: #fff;
	border-color: #fff;
}
div.TreeViewRowOdd:hover input {
	color: #fff;
	border-color: #fff;
}
div.TreeViewRowBase {
	float:left;
	clear:left;
	padding: 4px;
	margin: 0px;
	height: 20px;
}
img.TreeViewImage {
	padding: 0px;
	margin: 0px;
	width: 22px;
	height: 22px;
}
input.TreeViewOpExpandCorner {
	background-image: url("../images/treeview/menu_corner_plus.gif");
	background-color: transparent;
	background-repeat: no-repeat;
	overflow: hidden;
	border-style:none;
	border-width: 0px;
	padding: 0px;
	margin: 0px;
	width: 24px;
	height: 28px;
	cursor: pointer;
}
input.TreeViewOpCollapseCorner {
	background-image: url("../images/treeview/menu_corner_minus.gif");
	background-color: transparent;
	background-repeat: no-repeat;
	overflow: hidden;
	border-style:none;
	border-width: 0px;
	padding: 0px;
	margin: 0px;
	width: 24px;
	height: 28px;
	cursor: pointer;
}
input.TreeViewOpExpandInter {
	background-image: url("../images/treeview/menu_tee_plus.gif");
	background-color: transparent;
	background-repeat: no-repeat;
	overflow: hidden;
	border-style:none;
	border-width: 0px;
	padding: 0px;
	margin: 0px;
	width: 24px;
	height: 28px;
	cursor: pointer;
}
input.TreeViewOpCollapseInter {
	background-image: url("../images/treeview/menu_tee_minus.gif");
	background-color: transparent;
	background-repeat: no-repeat;
	overflow: hidden;
	border-style:none;
	border-width: 0px;
	padding: 0px;
	margin: 0px;
	width: 24px;
	height: 22px;
	cursor: pointer;
}
input.TreeItem {
	font-family: tahoma, verdana, arial, sans-serif;
	text-align: left;
	background-color: transparent;
	background-repeat: no-repeat;
	border-style:none;
	padding: 0px 0 0 5px;
	margin: 0px;
	width: auto;
	overflow: visible;
}
input.TreeItemSelected {
	font-family: tahoma, verdana, arial, sans-serif;
	text-align: left;
	background-color: transparent;
	background-repeat: no-repeat;
	border: 0px none;
	font-weight: bold;
	padding: 0px;
	margin: 0px;
	width: auto;
	overflow: visible;
}
input.TVActionDelete {
	float:right;
	background: url("../images/standard/rem.gif") no-repeat center;
	border-style:none;
	border-width: 0px;
	padding: 0px;
	margin: 0px;
	width: 24px;
	height: 28px;
	cursor: pointer;
}
input.TVActionMove {
	float:right;
	background: url("../images/treeview/move.gif") no-repeat center;
	border-style:none;
	border-width: 0px;
	padding: 0px;
	margin: 0px;
	width: 24px;
	height: 28px;
	cursor: pointer;
}
input.TVActionRename {
	float:right;
	background: url("../images/standard/mod.gif") no-repeat center;
	border-style:none;
	border-width: 0px;
	padding: 0px;
	margin: 0px;
	width: 24px;
	height: 28px;
	cursor: pointer;
}
input.TVActionPlay {
	float:right;
	background: url("../images/standard/view.gif") no-repeat center;
	border-style:none;
	border-width: 0px;
	padding: 0px;
	margin: 0px;
	width: 24px;
	height: 28px;
	cursor: pointer;
}
input.TVActionEdit {
	float:right;
	background: url("../images/standard/mod.gif") no-repeat center;
	border-style:none;
	border-width: 0px;
	padding: 0px;
	margin: 0px;
	width: 24px;
	height: 28px;
	cursor: pointer;
}
input.TVActionCopy {
	float:right;
	background: url("../images/standard/editcopy.gif") no-repeat center;
	border-style:none;
	border-width: 0px;
	padding: 0px;
	margin: 0px;
	width: 24px;
	height: 28px;
	cursor: pointer;
}
div.tree_view_spacer {
	float:right;
	border-style:none;
	border-width: 0px;
	padding: 0px;
	margin: 0px;
	width: 24px;
	height: 28px;
}
div.TVActionEmpty {
	float:right;
	border-style:none;
	border-width: 0px;
	padding: 0px;
	margin: 0px;
	width: 28px;
	height: 28px;
}
div.LVShowItem {
	background-color: transparent;
	overflow: hidden;
	border-style:none;
	border-width: 0px;
	padding: 0px;
	margin: 0px;
	width: 24px;
	height: 28px;
}
input.LVShowItem {
	background-image: url("../images/treeview/showitem.gif");
	background-color: transparent;
	overflow: hidden;
	border-style:none;
	border-width: 0px;
	left:0;
	top:0;
	padding: 0px;
	margin: 0px;
	width: 24px;
	height: 28px;
}
input.LVDeleteItem {
	background-image: url("../images/standard/rem.gif");
	background-color: transparent;
	overflow: hidden;
	border-style:none;
	border-width: 0px;
	left:0;
	top:0;
	padding: 0px;
	margin: 0px;
	width: 24px;
	height: 28px;
}
input.LVMoveItem {
	background-image: url("../images/standard/move.gif");
	background-color: transparent;
	overflow: hidden;
	border-style:none;
	border-width: 0px;
	left:0;
	top:0;
	padding: 0px;
	margin: 0px;
	width: 24px;
	height: 28px;
}
input.LVAction {
	font-family: tahoma, verdana, arial, sans-serif;
	text-decoration: underline;
	text-align: left;
	background-color: white;
	border-style: none;
	border-width: 0px;
	font-weight: bold;
	padding: 3px;
	margin: 0px;
	cursor: pointer;
}