div#listContainer{overflow-x:hidden;overflow-y:auto;width:250px;height:300px;}
ul#userList{list-style:none;height:25px;width:150px;padding:0;margin:0;}
ul#userList li a.callOut{display:block;position:relative;width:250px;height:22px;text-decoration:none;margin:10px 0 0 0;}
ul#userList li a.callOut span{position:absolute;top:0;left:0;display:block;width:100%;height:100%;background:url('../images/standard/userCallout.gif') 0% 0% no-repeat transparent;padding-left:35px;}
ul#userList li a.callOut:hover span{background-position:0 -22px;}
ul#userList li a:hover{cursor:pointer;text-decoration:underline;}
ul#userList li .callOutDisabled{display:block;position:relative;width:250px;height:22px;text-decoration:none;margin:10px 0 0 0;}
ul#userList li .callOutDisabled span{position:absolute;top:0;left:0;display:block;width:100%;height:100%;background:url('../images/standard/userCallout.gif') 0% 0% no-repeat transparent;padding-left:35px;}
div.chatText{height:300px;overflow:auto;position:relative;border:1px solid #ccc;background:#fff;padding:5px;margin-bottom:4px;}
div.chat input{font-size:0.9em;}
div.chat button{display:inline;font-size:0.8em;}
.userA{color:#47649a;}
.userB{color:#ff6600;}
.timestamp{font-size:9px; color:#666;}
.new{color:#000;}
