
.prd_line_0{
	border-bottom:solid 1px #E2E2E2;
	border-left:solid 1px #E2E2E2;
	padding: 0.60em;
	margin-bottom: 1em;
}

.prd_line_1{
	border-bottom:solid 1px #E2E2E2;
	border-left:solid 1px #E2E2E2;
	padding: 0.60em;
	margin-bottom: 1em;
}

.prd_img	{
	float:right;
	padding:1px;
	border:solid 2px #06844A;
}

.prd_title a {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 14px;
	color: #339966;
	font-weight:bold;
	text-decoration:underline;
}

.prd_info {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
}

.prd_extra_info {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #9A2400;
}

.prd_buttons {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #ffffff;
	background:#06844A;
	border-bottom:solid 2px #045D34;
	border-right:solid 2px #045D34;
	padding:0.40em;
	margin-top:1em;
	text-align:left;
	font-weight:bold;
	width:16%;
}



ul.catalog_menu_list{
	border:solid 1px #E2E2E2;
	background:#F9F9F9;
	height:100%;
	margin: 0;
	padding: 2px 5px;
	list-style: none;
}

li.parent_menu_item a{
	display: block;
	margin: 0;
	padding: 2px 5px;
	color: #ffffff;
	background: #06844A url( '../images/catalog/fr_top.gif' ) no-repeat right ;
	font-weight:bold;
	text-decoration:none;
}


li.child_menu_item a {
	display: block;
	margin: 0;
	padding: 3px 30px;
	color: #000000;
	text-decoration:none;
	/* border-bottom:dotted 1px #06844A; */
	font-size: 0.9	em;
}

li.menu_item a {
	display: block;
	margin: 4px 0 4px 0;
    padding: 6px 10px;
	color: #ffffff;
	text-decoration:none;
	font-weight:bold;
	background: #06844A url( '../images/block/fr_menu.gif' ) no-repeat right center;
}


li.menu_item a:hover {
	display: block;
	margin: 4px 0 4px 0;
    padding: 6px 10px;
	color: #ffffff;
	text-decoration:underline;
	font-weight:bold;
	background: #06844A url( '../images/block/fr_menu.gif' ) no-repeat right center;
}

li.parent_menu_item a:hover {
	background-color: #DFD;
	color: #000;
}


li.menu_sel_item a {
	display: block;
  	margin: 4px 0 4px 0;
    padding: 6px 10px;
	color: #000000;
	font-weight:bold;
	text-decoration:underline;
	background: #ACA url( '../images/catalog/fr_item.gif' ) no-repeat right center;
}



.categories_list_box {
	border:solid 1px #E2E2E2;
	padding:0.60em;
	margin-bottom: 1em;
}

ul.categories_list{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	font-family: arial,verdana,sans-serif;
	font-size:12px;
	padding:0.60em;
	margin:0;
}

li.cat_line_0, li.cat_line_1 {
	color:#DDD;
	text-align:center;
	border: 1px solid;
	float: left;
	line-height:1.3em;
	padding: 0.2em;
	margin: 0.4em;
	position: relative;
}

li.cat_line_0 img, li.cat_line_1 img {
	margin-top: auto;
	margin-bottom: auto;
}

span.category_name{
	color:#06844A;
	text-align:center;
	margin-top:0.60em;
	font-weight:bold;
	clear: both;
	display: block;
}

div.cat_img_container {
	margin: 0em;
	padding: 0em;
	height: 100px;
	width: 100px;
	text-align: center;
}


/* ------------------------------------------------------------------------- */


ul.catalog_toolbar {
	border-bottom:1px solid #CCCCCC;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:1em 0pt 0pt;
	padding:0pt 23px 3px 0pt;
	text-align:left;
}

ul.catalog_toolbar li {
	display:inline;
	font-size:0.9em;
	line-height:1.3em;
	margin:0pt;
	padding:0pt;
}

ul.catalog_toolbar li a {
	background: #EEE no-repeat scroll 0pt;
	margin:0pt;
	padding:4px 0pt 4px 4px;
	text-decoration:none;
	border-top: 1px solid #E0E0E0;
	border-left: 1px solid #E0E0E0;
	border-right: 1px solid #E0E0E0;
}

ul.catalog_toolbar li a span {
	background:transparent no-repeat scroll 100% 0pt;
	color:#444;
	cursor:pointer;
	margin:0pt;
	padding:4px 12px 4px 8px;
	white-space:nowrap;
}

ul.catalog_toolbar li a:hover {
	background-position:0pt -42px;
}

ul.catalog_toolbar li a:hover span {
	background-position:100% -42px;
}

ul.catalog_toolbar li.selected a {
	background-position:0pt -42px;
}

ul.catalog_toolbar li.selected a span {
	background-position:100% -42px;
}

ul.catalog_toolbar li.selected a:hover {
	background-position:0pt;
}

ul.catalog_toolbar li.selected a:hover span {
	background-position:100% 0pt;
}

ul.catalog_toolbar li div {
	background:transparent url(../images/wiki/flat_tab_left.png) no-repeat scroll 0pt;
	color:#000000;
	display:inline;
	font-size:1.1em;
	font-weight:bold;
	margin:0pt;
	padding:4px 0pt 6px 4px;
}

ul.catalog_toolbar li div span {
	background:transparent url(../images/wiki/flat_tab_right.png) no-repeat scroll 100% 0pt;
	color:#000000;
	margin:0pt;
	padding:4px 12px 6px 8px;
	white-space:nowrap;
}

ul.catalog_toolbar li a span img, ul.catalog_toolbar li div span img {
	margin:0px;
	padding:0px 6px 0px 0px;
}



div.detail_tab_box {
	padding: 0.6em;
	padding-top: 1em;
	border-left: 1px solid #AAA;
	border-right: 1px solid #AAA;
	border-bottom: 1px solid #AAA;
}

div.detail_prd_title {
	font-weight: bold;
	font-size: 1.4em;
}

div.detail_prd_description {

}

div.detail_prd_image {
	float: right;
	border: 1px solid #CCC;
	background: #F4F4F4;
	padding: 0.3em;
}

div.detail_prd_image img {
	max-width: 200px;
}

div.detail_prd_otherimg {
	float: right;
}

div.detail_top_link {
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	background: #F4F4F4;
	padding: 0.6em;
	margin-bottom: 1em;
	text-align: right;
}

div.detail_bottom_link {
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	padding: 0.6em;
	margin-top: 1em;
	margin-bottom: 0.4em;
}
