
div.project_box {

	padding-left: 58px;
	padding-bottom: 1.0em;
/*	border-left: 1px dotted #CCC; */
	border-bottom: 1px dotted #CCC;
	margin-bottom: 1em;
	background: url('../images/simpleprj/folder.png') 4px 6px no-repeat #f1f3f6;
}

div.project_box p {

	color: #1f538d;
	font-weight: bold;
	font-size: 1.2em;
	margin: 0em;
	margin-bottom: 0.2em;
	padding-top: 0.5em;
	display: block;
}

div.project_box p a {
	color: #495978;
}

div.prj_doc_box p.doctitle {
	border-bottom: 1px solid #CCC;
	font-weight: bold;
	font-size: 1.2em;
	color: #495978;
	padding-left: 0.4em;
	padding-top: 0.2em;
	margin: 0px;
	margin-bottom: 0.2em;
	height: 24px;
	background: #e8ebf1;
}

div.prj_doc_box span.fileicon {
	float: right;
	color: #444;
	font-size: 1.2em;
	padding-right: 0.4em;
}

div.project_box span a {
	color: #1f538d;
	text-decoration: none;
}

ul.simpleprj_actions {
	list-style: none;
	padding: 0.2em;
}

ul.simpleprj_actions li a.add_btn {
	background: url('../images/standard/add.gif') no-repeat;
	padding-left: 26px;
	padding-bottom: 8px;
}



div.prj_doc_box .prj_doc_description  { margin: 4px 0 12px; padding: 0; font-size: 0.9em; color: #444; }
div.prj_doc_box .prj_doc_description p { margin: 0; padding: 0; font-size: 1em; }

ul.prj_doc_actions { margin: 0px 0px; padding: 0.2em; list-style: none; background: #e5eeff; height: 1.5em;  }

	ul.prj_doc_actions li { margin: 0 6px; padding: 0; display: inline; font-size: 0.8em; }
		ul.prj_doc_actions li a { padding: 2px 0 2px 20px; background: 0 50% no-repeat; color: #495978; }
		ul.prj_doc_actions li a span { white-space: nowrap; }
		ul.prj_doc_actions li.download_doc a  	{ background-image: url('../images/simpleprj/download.png'); }
		ul.prj_doc_actions li.comment_doc a  	{ background-image: url('../images/simpleprj/comment.png'); }
		ul.prj_doc_actions li.edit_doc a 		{ background-image: url('../images/simpleprj/mod.png'); }
		ul.prj_doc_actions li.delete_doc a { background-image: url('../images/simpleprj/del.png'); }

div.prj_doc_box {
	padding: 0em;
	margin-top: 2.0em;
	margin-bottom: 1.8em;
	border: 0px none;
	border-top: 1px solid #495978;
	border-bottom: 1px solid #495978;
}


/***********************************************************/

div.simpleprj_container {
	position: relative;
}

div.simpleprj_right_box {
	/* position: absolute; */
	float: right;
	top: 0;
	right: 0;
	width: 200px;
}

div.simpleprj_left_box {
	margin-right: 210px;
}


div.comments_title {
	margin-top: 3em;
	background:  #f4f5f8 url('../images/simpleprj/comment.png') 4px 2px no-repeat;
	color: #495978;
	font-size: 0.8em;
	border-bottom: 1px solid #495978;
	padding: 0.4em;
	padding-left: 24px;
}

div.users_box_title, div.task_box_title {
	margin: 0px;
	background:  #f4f5f8 url('../images/simpleprj/box_head_back.png') repeat-x;
	height: 22px;
	padding-top: 2px;
	padding-left: 0.4em;
	border: 1px solid #e8ebf1;
	border-bottom: 1px solid #495978;
	color: #495978;
	font-weight: bold;
}

div.users_box_title {
	margin-top: 1em;
}

div.users_box_title a.toggle, div.task_box_title a.toggle {
	float: right;
	margin-right: 0.6em;
}

.hidden_box {
	display: none;
}

div.users_container, div.task_container {
	background: #f4f5f8;
	border: 1px solid #e8ebf1;
	margin-bottom: 1em;
	padding: 0.2em;
	padding-bottom: 0.5em;
	color: #39465e;
}

div.task_container a.add_task {
	background: url('../images/standard/add.gif') no-repeat;
	padding-left: 26px;
	padding-bottom: 8px;
}

ul.prj_user_list {
	list-style: none;
	padding: 0px;
}

ul.prj_user_list li {
	padding-left: 20px;
	background: url('../images/simpleprj/user.png') no-repeat;
	margin-bottom: 0.4em;
}

p.task_desc {
	margin-right: 20px;
}

p.task_desc_small {
	margin-right: 40px;
}

div.task_actions {
	float: right;
	text-align: right;
}


/***********************************************************/

div.ajcom_comment {
	margin: 10px 0 10px 0;
	padding: 0;
	border: 1px solid #e8ebf1;
}

	div.ajcom_comment h2 {
		margin: 0;
		padding: 2px 6px;
		font-size: 0.8em;
		font-weight: bold;
		background: #f4f5f8;
		border-bottom: 0px none;
	}

	div.ajcom_comment h2 img { margin: 0 4px 0 0; vertical-align: bottom; }

	div.ajcom_comment h2 span.ajcom_date {
		margin: 0 0 0 4px;
		padding: 0;
		color: #666;
	}

	div.ajcom_comment p.ajcom_textof {
		margin: 0;
		padding: 2px 7px;
		font-size: 0.8em;
		background: #FFF;
	}

	#ajaxcomment_textof.textarea {
		margin: 0;
		padding: 2px 7px;
		font-size: 0.9em;
		background: #FFF;
		border: 1px solid #d1d3d9;
		width: 80%;
	}

	#ajax_comment_add p {
		text-align: center;
	}




/***********************************************************/


/* user info box ==========================*/

.up_user_info {
	margin: 0;
	padding: 4px;
	line-height: 1.5em;
}

	/* avatar and photo container */
	.up_user_info .up_img_container {
		margin: 5px 2px 0;
		padding: 0;
		float: right;
		text-align: center;
		font-size: 0.80em;
	}

		.up_img_container img {
			margin: 15px 0 0;
			padding: 0;
			background: #fff;
			border: 1px solid #3972a9;
		}

		img.image_limit_micro { height: 22px; }
		img.image_limit_micro_width { width: 22px; }
		img.image_limit_micro_height { height: 22px; }

		img.image_limit_small { height: 50px; }
		img.image_limit_small_width { width: 50px; }
		img.image_limit_small_height { height: 50px; }

		img.image_limit_medium { height: 150px; }
		img.image_limit_medium_width { width: 150px; }
		img.image_limit_medium_height { height: 150px; }

		img.image_limit_big { height: 250px; }
		img.image_limit_big_width { width: 250px; }
		img.image_limit_big_height { height: 250px; }

		.up_img_container a {}

