img.OrgItemImage {
	/* nothing today */
	padding: 0px;
	margin: 0px;
	width: 24px;
	height: 24px;
}

input.OrgProperties {
	/* transparent submit */
	float:right;
	background-image: url("../images/organizations/configure.png");
	background-repeat: no-repeat;
	background-color: transparent;
	overflow: hidden;
	border-style:none;
	border-width: 0px;
	padding: 0px;
	margin: 0px;
	width: 24px;
	height: 24px;
}

input.OrgPlay {
	/* transparent submit */
	float:right;
	background-image: url("../images/organizations/play.png");
	background-repeat: no-repeat;
	background-color: transparent;
	overflow: hidden;
	border-style:none;
	border-width: 0px;
	padding: 0px;
	margin: 0px;
	width: 24px;
	height: 24px;
}

input.OrgLocked {
		/* transparent submit */
	float:right;
	background-image: url("../images/organizations/locked.png");
	background-repeat: no-repeat;
	background-color: transparent;
	overflow: hidden;
	border-style:none;
	border-width: 0px;
	padding: 0px;
	margin: 0px;
	width: 24px;
	height: 24px;
}

img.OrgStatus {
	float:right;
	border-style:none;
	border-width: 0px;
	padding: 0px;
	margin: 0px;
	width: 24px;
	height: 24px;
}

input.OrgUp {
	/* transparent submit */
	float:right;
	background-image: url("../images/standard/up.gif");
	background-repeat: no-repeat;
	background-color: transparent;
	overflow: hidden;
	border-style:none;
	border-width: 0px;
	padding: 0px;
	margin: 0px;
	width: 24px;
	height: 24px;
}

input.OrgDown {
	/* transparent submit */
	float:right;
	background-image: url("../images/standard/down.gif");
	background-repeat: no-repeat;
	background-color: transparent;
	overflow: hidden;
	border-style:none;
	border-width: 0px;
	padding: 0px;
	margin: 0px;
	width: 24px;
	height: 24px;
}

input.OrgPublish {
	/* transparent submit */
	float:right;
	background-image: url("../images/standard/publish.gif");
	background-repeat: no-repeat;
	background-color: transparent;
	overflow: hidden;
	border-style:none;
	border-width: 0px;
	padding: 0px;
	margin: 0px;
	width: 24px;
	height: 24px;
}

input.OrgUnPublish {
	/* transparent submit */
	float:right;
	background-image: url("../images/standard/unpublish.gif");
	background-repeat: no-repeat;
	background-color: transparent;
	overflow: hidden;
	border-style:none;
	border-width: 0px;
	padding: 0px;
	margin: 0px;
	width: 24px;
	height: 24px;
}

input.OrgMod {
	/* transparent submit */
	float:right;
	background-image: url("../images/standard/mod.gif");
	background-repeat: no-repeat;
	background-color: transparent;
	overflow: hidden;
	border-style:none;
	border-width: 0px;
	padding: 0px;
	margin: 0px;
	width: 24px;
	height: 24px;
}
input.OrgModBlock {
	/* transparent submit */
	float:right;
	background-image: url("../images/standard/modele.gif");
	background-repeat: no-repeat;
	background-color: transparent;
	overflow: hidden;
	border-style:none;
	border-width: 0px;
	padding: 0px;
	margin: 0px;
	width: 24px;
	height: 24px;
}
input.OrgDel {
	/* transparent submit */
	float:right;
	background-image: url("../images/standard/rem.gif");
	background-repeat: no-repeat;
	background-color: transparent;
	overflow: hidden;
	border-style:none;
	border-width: 0px;
	padding: 0px;
	margin: 0px;
	width: 24px;
	height: 24px;
}

input.OrgDefAction {
	background-color: #acf;
	border-style:solid;
	border-width: 1px;
	border-color: black;
	margin: 5px;
}

input.PrerequisitesListSel {
	background-image: url("../images/standard/dx.gif");
	background-repeat: no-repeat;
	background-color: transparent;
	overflow: hidden;
	border-style:none;
	border-width: 0px;
	padding: 0px;
	margin: 0px;
	width: 22px;
	height: 22px;
}

input.PrerequisitesListNoSel {
	background-image: url("../images/standard/sx.gif");
	background-repeat: no-repeat;
	background-color: transparent;
	overflow: hidden;
	border-style:none;
	border-width: 0px;
	padding: 0px;
	margin: 0px;
	width: 22px;
	height: 22px;
}
