img.OrgItemImage {
	/* nothing today */
	padding: 0px;
	margin: 0px;
	width: 22px;
	height: 22px;
}

input.RepoProperties {
	/* transparent submit */
	float:right;
	background-image: url("../images/standard/configure.gif");
	background-repeat: no-repeat;
	background-color: transparent;
	overflow: hidden;
	border-style:none;
	border-width: 0px;
	padding: 0px;
	margin: 0px;
	width: 24px;
	height: 22px;
	cursor: pointer;
}

input.OrgProperties {
	/* transparent submit */
	float:right;
	background-image: url("../images/organizations/rules.gif");
	background-repeat: no-repeat;
	background-color: transparent;
	overflow: hidden;
	border-style:none;
	border-width: 0px;
	padding: 0px;
	margin: 0px;
	width: 24px;
	height: 22px;
	cursor: pointer;
}

input.OrgPlay {
	/* transparent submit */
	float:right;
	background-image: url("../images/organizations/play.gif");
	background-repeat: no-repeat;
	background-color: transparent;
	overflow: hidden;
	border-style:none;
	border-width: 0px;
	padding: 0px;
	margin: 0px;
	width: 24px;
	height: 22px;
	cursor: pointer;
}

input.OrgLocked {
		/* transparent submit */
	float:right;
	background-image: url("../images/organizations/locked.gif");
	background-repeat: no-repeat;
	background-color: transparent;
	overflow: hidden;
	border-style:none;
	border-width: 0px;
	padding: 0px;
	margin: 0px;
	width: 24px;
	height: 22px;
	cursor: pointer;
}

img.OrgStatus {
	float:right;
	border-style:none;
	border-width: 0px;
	padding: 0px;
	margin: 0px 3px;
	width: 22px;
	height: 22px;
	cursor: pointer;
}

input.OrgUp {
	/* transparent submit */
	float:right;
	background-image: url("../images/standard/up.gif");
	background-repeat: no-repeat;
	background-color: transparent;
	overflow: hidden;
	border-style:none;
	border-width: 0px;
	padding: 0px;
	margin: 0px;
	width: 24px;
	height: 22px;
	cursor: pointer;
}

input.OrgDown {
	/* transparent submit */
	float:right;
	background-image: url("../images/standard/down.gif");
	background-repeat: no-repeat;
	background-color: transparent;
	overflow: hidden;
	border-style:none;
	border-width: 0px;
	padding: 0px;
	margin: 0px;
	width: 24px;
	height: 22px;
	cursor: pointer;
}

input.OrgDefAction {
	background-color: #acf;
	border-style:solid;
	border-width: 1px;
	border-color: black;
	margin: 5px;
}

input.PrerequisitesListSel {
	background-image: url("../images/standard/dx.gif");
	background-repeat: no-repeat;
	background-color: transparent;
	overflow: hidden;
	border-style:none;
	border-width: 0px;
	padding: 0px;
	margin: 0px;
	width: 22px;
	height: 22px;
}

input.PrerequisitesListNoSel {
	background-image: url("../images/standard/sx.gif");
	background-repeat: no-repeat;
	background-color: transparent;
	overflow: hidden;
	border-style:none;
	border-width: 0px;
	padding: 0px;
	margin: 0px;
	width: 22px;
	height: 22px;
}

div.IndentPathRight {
	padding-left: 22px;
}
div.IndentPathLeft {
	padding-right: 22px;
}

a.TreeItem {
	color: #000;
	font-family:tahoma,verdana,arial,sans-serif;
	margin:0px;
	padding:0px;
	font-size:1em;
}
