.menu_over{margin:8px 0;padding:1px 0;border-bottom:1px solid #666;}
.menu_over ul{margin:0;padding:2px 0;list-style-type:none;background:#abcbf4;line-height:1.6em;}
p.ico, p.fixed, .menu_over ul li{display:inline;margin:4px 8px;padding:2px 26px 2px 26px;background:url('../images/middlearea/fixed.png') no-repeat 2px 2px;}
.use_area{position:absolute;dispaly:block;width:22px;height:20px;overflow:hidden;text-indent:12em;background:url('../images/middlearea/unpublish.gif') no-repeat 2px 2px;}
.disabled .use_area{background:url('../images/middlearea/publish.gif') no-repeat 2px 2px;}
p.ico, .menu_over ul li.ico{background:url('../images/middlearea/ico.png') no-repeat 2px 2px;}
.align_right{text-align:right;}
.menu_over ul li.disabled{background:url('../images/middlearea/fixed.png') no-repeat 2px 2px #efefef;}
.disabled{background:#efefef;}
div.disabled p.ico{background:url('../images/middlearea/fixed.png') no-repeat 2px 2px #efefef;}
.disabled a{color:#666;}
.macolum_container{margin:0;}
.left_col{margin:0 320px 0 0;padding:0;}
.right_col{float:right;width:300px;margin:0;padding:0;}
.box{position:relative;margin:0 5px 5px;padding:8px;border:1px solid #666;}