
input.del_item {

	background: transparent url('../images/standard/rem.gif') no-repeat;
	border: 0px none;
	padding: 0px;
	width: 22px;
	height: 22px;

}

div.no_tax_info {
	border-top: 1px dashed #BBB;
	border-bottom: 1px dashed #BBB;
	color: #555;
	font-size: 0.8em;
	text-align: right;
}

div.cart_summary {
	width: 98%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1em;
	padding-right: 0.5em;
	border-top: 2px solid #444;
	padding-top: 0.3em;
	text-align: right;
}

table.cart_table {
	width: 98%;
	margin-bottom: 1em;
	border: 0px none;
	margin-left: auto;
	margin-right: auto;
	border-bottom: 1px solid #258;
	border-left: 1px solid #258;
}

table.cart_table_grey {
	width: 98%;
	margin-bottom: 1em;
	border: 0px none;
	margin-left: auto;
	margin-right: auto;
	border-bottom: 1px solid #444;
	border-left: 1px solid #444;
}

table.cart_table th, table.cart_table_grey th {
	border: 0px none;
	border-right: 1px solid #258;
	border-top: 1px solid #258;
	background: #FFF;
}

table.cart_table td, table.cart_table_grey td {
	border: 0px none;
	border-right: 1px solid #258;
	border-top: 1px solid #258;
	padding: 0.2em;
}

table.cart_table_grey th {
	border-right: 1px solid #444;
	border-top: 1px solid #444;
}

table.cart_table_grey td {
	border-right: 1px solid #444;
	border-top: 1px solid #444;
}


table.cart_table .line {
	background: #def;
}


table.cart_table .line-col {
	background: #cdf;
}

table.cart_table_grey .line {
	background: #CCC;
}


table.cart_table_grey .line-col {
	background: #EEE;
}


table.cart_table .image {
	width: 22px;
}


table.cart_table_grey td.box_left {
	width: 50%;
	text-align: left;
	background: #FFF;
	padding: 0.3em;
}

table.cart_table_grey td.box_right {
	width: 50%;
	text-align: right;
	background: #FFF;
	padding: 0.3em;
}

table.cart_table_grey td.box_center {
	text-align: center;
	padding: 0.3em;
	background: #FFF;
}
