<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="Alphanamict.WAF.CodeGenerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <appSettings>
		<!--   User application and configured property settings go here.-->
		<!--   Example: <add key="settingName" value="settingValue"/> -->
		<add key="txtServer.Text" value="192.168.1.1" />
		<add key="txtDatabase.Text" value="123otc" />
		<add key="txtPassword.Text" value="isales" />
		<add key="txtUser.Text" value="isales" />
		<add key="txtTablePrefixes.Text" value=" " />
		<add key="txtDefaultNameSpace.Text" value="Alphanamict.ISaleServices.DTOs" />
		<add key="txtSaveFolder.Text" value="F:\AlphanamICT\Prj 123OTC\Code\iSaleServices\DTOs" />
		<add key="txtTemplateFile.Text" value="DTO.tpl" />
	</appSettings>
 <applicationSettings>
  <Alphanamict.WAF.CodeGenerator.Properties.Settings>
   <setting name="Setting" serializeAs="String">
    <value />
   </setting>
  </Alphanamict.WAF.CodeGenerator.Properties.Settings>
 </applicationSettings>
</configuration>