<?xml version="1.0" encoding="UTF-8"?>
<serverlist>
  <server>
	<name>ServerTestMatBao</name>
    <address>http://quantummatbao.gurucore.com:8080/</address>
    <capacity>{0}^300</capacity>
    <desc>Server on MatBao</desc>
  </server>
  <server>
	<name>Server77</name>
    <address>http://vtc77.gurucore.com:6789/</address>
    <capacity>{0}^300</capacity>
    <desc>Server on VTC</desc>
  </server>
  <server>
    <name>Server78</name>
    <address>http://vtc78.gurucore.com:6789/</address>
    <capacity>{0}^500</capacity>
    <desc>Server on VTC</desc>
  </server>
</serverlist>