<?xml version="1.0" encoding="UTF-8"?>
<serverlist>
  <server>
	  <name>Quantum VTC</name>
    <address>talaapi2.gurucore.com:8080</address>
    <capacity>300</capacity>
    <desc>Server chính chơi free của Quantum đặt trên mắt bão</desc>
  </server>
  <server>
    <name>Free1</name>
    <address>talaapi199.gurucore.com:8080</address>
    <capacity>500</capacity>
    <desc>Server dành cho các sới chơi miễn phí</desc>
  </server>
</serverlist>