<?xml version="1.0" encoding="UTF-8"?>
<serverlist>
  <server>
	  <name>Quantum Mắt bão</name>
    <address>talaapi2.gurucore.com:8080</address>
    <capacity>{0}^300</capacity>
    <desc>Server chính chơi free của Quantum đặt trên mắt bão</desc>
  </server>
  <server>
    <name>Quantum VTC</name>
    <address>vtc.gurucore.com:8080</address>
    <capacity>{0}^500</capacity>
    <desc>Server dành cho các sới chơi miễn phí</desc>
  </server>
</serverlist>